{% extends "SmartUnityUtilisateurBundle::layout_profil.html.twig" %}
{% form_theme form_infos 'SmartUnityUtilisateurBundle:Form:form_mon_compte.html.twig' %}

{% block edition %}

<div class="edit">
    <a class="btn btn-primary btn-xs modify" href="{{ path('smart_unity_utilisateur_homepage') }}" type="button"><span class="croix-close"> ✖</span>
    </a>
</div>  
    

<form action="{{ path('smart_unity_utilisateur_setinfos') }}" {{ form_enctype(form_infos) }} method="POST" class="form_moncompte">

{#{{form_start(form_infos)}}#}
    {{form_errors(form_infos)}}

    <div class="row premiere-ligne ">
        <div class="grille-1">
        Pseudonyme
        </div>
        <div class="grille-2">
        {{form_widget(form_infos.username)}}
        </div>
    </div>

    <div class="row  ">
        <div class="grille-1">
        Nom
        </div>
        <div class="grille-2">
        {{form_widget(form_infos.nom)}}
        </div>
    </div>
    
    <div class="row  ">
        <div class="grille-1">
        Prénom
        </div>
        <div class="grille-2">
        {{form_widget(form_infos.prenom)}}
        </div>
    </div>
    
    <div class="row  ">
        <div class="grille-1">
        Adresse mail
        </div>
        <div class="grille-2">
        {{form_widget(form_infos.email)}}
        </div>
    </div>

    <div class="row  ">
        <div class="grille-1">
        Sexe
        </div>
        <div class="grille-2">
        {{form_widget(form_infos.sexe)}}
        </div>
    </div>    

    <div class="row  ">
        <div class="grille-1">
        Date de naissance
        </div>
        <div class="grille-2">
        {{form_widget(form_infos.date_naissance)}}
        </div>
    </div>

    <div class="row ">

        <div class="grille-1">Modèle de smartphone</div>
        <div class="grille-2">{{form_widget(form_infos.telephone)}}</div>
    </div>     
    <div class="row ">
        <div class="grille-1 info-plus">Un peu plus sur moi</div>
        <div class="grille-2">{{form_widget(form_infos.info_plus)}}</div>
    </div>   

    <div class="cent-h bouton-bas-block">
        <button type="submit" class="btn bouton-repondre bouton-valid-modif">Valider les modifications</button>
    </div>   
    {{form_end(form_infos)}}  

</form>

{% endblock %}   


