{% extends "SmartUnityUtilisateurBundle::layout_profil.html.twig" %}
{% form_theme form_infos 'SmartUnityUtilisateurBundle:Form:form_mon_compte.html.twig' %}
{% form_theme form_pref 'SmartUnityUtilisateurBundle:Form:form_mon_compte.html.twig' %}

{% block edition %}

<div class="edit">
    <a class="btn btn-primary btn-xs" type="button" onclick="javascript:history.back()">Annuler
    </a>
</div>  
    

<form action="{{ path('smart_unity_utilisateur_setinfos') }}" {{ form_enctype(form_infos) }} method="POST">

{#{{form_start(form_infos)}}#}
    {{form_errors(form_infos)}}

    <div class="row premiere-ligne ">
        <div class="grille-1">
        Nom d'utilisateur
        </div>
        <div class="grille-2">
        {{form_widget(form_infos.username)}}
        </div>
    </div>

    <div class="row  ">
        <div class="grille-1">
        Nom :
        </div>
        <div class="grille-2">
        {{form_widget(form_infos.nom)}}
        </div>
    </div>
    
    <div class="row  ">
        <div class="grille-1">
        Prénom :
        </div>
        <div class="grille-2">
        {{form_widget(form_infos.prenom)}}
        </div>
    </div>
    
    <div class="row  ">
        <div class="grille-1">
        Email :
        </div>
        <div class="grille-2">
        {{form_widget(form_infos.email)}}
        </div>
    </div>

    <div class="row  ">
        <div class="grille-1">
        Genre :
        </div>
        <div class="grille-2">
        {{form_widget(form_infos.sexe)}}
        </div>
    </div>    

    <div class="row  ">
        <div class="grille-1">
        Date de naissance :
        </div>
        <div class="grille-2">
        {{form_widget(form_infos.date_naissance)}}
        </div>
    </div>

    <div class="row  ">
        <div class="grille-1">Appareil:</div>
        <div class="grille-2"></div>
    </div>
    <div class="row  ">
        <div class="grille-1">Un peu plus sur moi:</div>
        <div class="grille-2"></div>
    </div>

    <div class="cent-h bouton-bas-block">
        <button type="submit" class="btn btn-primary btn-sm">Valider mes infos</button>
    </div>   
    {{form_end(form_infos)}}  

</form>

{% endblock %}   


