{% extends "SmartUnityUtilisateurBundle::layout_profil.html.twig" %}



{% block infos %}  
<div class="row  ">
    <div class="grille-1">Pseudo:</div>
    <div class="grille-2">{{app.user.username}}</div>
</div>

<div class="row  ">
    <div class="grille-1">E-mail:</div>
    <div class="grille-2">{{app.user.email}}</div>
</div>
<div class="row  ">
    <div class="grille-1">Nom:</div>
    <div class="grille-2">{{app.user.nom}}</div>
</div>
<div class="row  ">
    <div class="grille-1">Age:</div>
    <div class="grille-2"></div>
</div>
<div class="row  ">
    <div class="grille-1">Sexe:</div>
    <div class="grille-2">{%if app.user.sexe ==1 %}
        Masculin
         {%elseif app.user.sexe ==2%}
        Féminin
          {%else%}
        Non renseigné
        {%endif%}</div>
</div>
<div class="row  ">
    <div class="grille-1">Appareil:</div>
    <div class="grille-2"></div>
</div>
<div class="row  ">
    <div class="grille-1">Un peu plus sur moi:</div>
    <div class="grille-2"></div>
</div>
<a class="active" href="{{ path('fos_user_change_password') }}">Changer mon mot de passe</a>
{% endblock %}

{% block preferences %}  
<form method="post" action="{{ path ('smart_unity_utilisateur_setpref') }}"> 

    <input type="text" name="id" value={{app.user.id}} hidden>

    <div class="row  ">
        <div class="grille-1">Messages privés:</div>
        <div class="grille-2">{%if app.user.prefmp ==1 %}
            <input type="radio" name="mp" value="1" checked> Oui     
            <input type="radio" name="mp" value="0"> Non<br>
          {%else%}
            <input type="radio" name="mp" value="1" > Oui     
            <input type="radio" name="mp" value="0" checked> Non<br>
        {%endif%}</div>
    </div>

    <div class="row  ">
        <div class="grille-1">Communauté:</div>
        <div class="grille-2">
                    {%if app.user.prefcomm ==1 %}
            <input type="radio" name="comm" value="1" checked> Oui     
            <input type="radio" name="comm" value="0"> Non<br>
          {%else%}
            <input type="radio" name="comm" value="1" > Oui     
            <input type="radio" name="comm" value="0" checked> Non<br>
        {%endif%}
        </div>
    </div>

    <div class="row  ">
        <div class="grille-1">Smart Café:</div>
        <div class="grille-2">
                    {%if app.user.prefsmartcafe ==1 %}
            <input type="radio" name="smartcafe" value="1" checked> Oui     
            <input type="radio" name="smartcafe" value="0"> Non<br>
          {%else%}
            <input type="radio" name="smartcafe" value="1" > Oui     
            <input type="radio" name="smartcafe" value="0" checked> Non<br>
        {%endif%}
        </div>
    </div>

    <div class="row  ">
        <div class="grille-1">Reponse:</div>
        <div class="grille-2">
                    {%if app.user.prefrep ==1 %}
            <input type="radio" name="rep" value="1" checked> Oui     
            <input type="radio" name="rep" value="0"> Non<br>
          {%else%}
            <input type="radio" name="rep" value="1" > Oui     
            <input type="radio" name="rep" value="0" checked> Non<br>
        {%endif%}
        </div>
    </div>

    <div class="row  ">
        <div class="grille-1">Reponses Validées:</div>
        <div class="grille-2">
                     {%if app.user.prefrepValidee ==1 %}
            <input type="radio" name="repval" value="1" checked> Oui     
            <input type="radio" name="repval" value="0"> Non<br>
          {%else%}
            <input type="radio" name="repval" value="1" > Oui     
            <input type="radio" name="repval" value="0" checked> Non<br>
        {%endif%}
        </div>
    </div>

    <div class="row  ">
        <div class="grille-1">Reponses Certifiées:</div>
        <div class="grille-2">
                    {%if app.user.prefrepCertifiee ==1 %}
            <input type="radio" name="repcert" value="1" checked> Oui     
            <input type="radio" name="repcert" value="0"> Non<br>
          {%else%}
            <input type="radio" name="repcert" value="1" > Oui     
            <input type="radio" name="repcert" value="0" checked> Non<br>
        {%endif%}
        </div>
    </div>
    <p><input class="btn" type="submit" value="Modifier mes préférences"></p>
</form>     


{% endblock %}