{% extends "SmartUnityUtilisateurBundle::layout_profil.html.twig" %}
{% form_theme form_pref 'SmartUnityUtilisateurBundle:Form:form_mon_compte.html.twig' %}

{% block infos %}  

<div class="edit"> <a href="{{ path('smart_unity_utilisateur_editinfos') }}" class="btn btn-primary btn-xs">
        <span class="glyphicon glyphicon-pencil"></span>
    </a>
</div>
<div class="row " style="text-align: center;">
     <img src="{{ asset( '') }}{{ avatar }}" alt="avatar">
</div>
<div class="row premiere-ligne">
    <div class="grille-1">Pseudo:</div>
    <div class="grille-2">{{app.user.username}}</div>
</div>

<div class="row  ">
    <div class="grille-1">E-mail:</div>
    <div class="grille-2">{{app.user.email}}</div>
</div>
<div class="row  ">
    <div class="grille-1">Nom:</div>
    <div class="grille-2">{{app.user.nom}}</div>
</div>
<div class="row  ">
    <div class="grille-1">Prénom:</div>
    <div class="grille-2">{{app.user.prenom}}</div>
</div>
<div class="row  ">
    <div class="grille-1">Date de naissance:</div>
    <div class="grille-2">
{%if app.user.datenaissance !=null %}
{{ app.user.datenaissance|date("d/m/Y")  }}
    {%else%}
    {%endif%}
    </div>
</div>
<div class="row  ">
    <div class="grille-1">Sexe:</div>
    <div class="grille-2">{%if app.user.sexe =="m" %}
        Masculin
         {%elseif app.user.sexe =="f" %}
        Féminin
          {%else%}
        Non renseigné
        {%endif%}</div>
</div>
<div class="row  ">
    <div class="grille-1">Appareil:</div>
    <div class="grille-2"></div>
</div>
<div class="row  ">
    <div class="grille-1">Un peu plus sur moi:</div>
    <div class="grille-2"></div>
</div>
<div class="cent-h bouton-bas-block">
    <a href="{{ path('smart_unity_utilisateur_changepassword') }}" class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-credit-card"></span> Changer mot de passe
    </a>
</div>
<div class="cent-h bouton-bas-block">
    <a href="{{ path('smart_unity_utilisateur_editavatar') }}" class="btn btn-sm btn-default">
        Changer mon avatar
    </a>
</div>

{% endblock %}
