{% extends "SmartUnityUtilisateurBundle::layout_profil.html.twig" %}
{% block infos %}   
     <p>pseudo: {{app.user.username}}</p>
     <p>E-mail: {{app.user.email}}</p>
     <p>Nom: {{app.user.nom}}</p>  
     <p>Localisation:</p>
     <p>Age:</p>
     <p>Sexe:{%if app.user.sexe ==1 %}
         Masculin
         {%elseif app.user.sexe ==2%}
         Féminin
          {%else%}
         Non renseigné
        {%endif%}
    </p>
     <p>Appareil:</p>
     <p>Un peu plus sur moi:</p>
     <a class="active" href="{{ path('fos_user_change_password') }}">Changer mon mot de passe</a>
{% endblock %}

{% block preferences %}  
<form method="post" action="{{ path ('smart_unity_utilisateur_setpref'  ) }}"> 
    <input type="text" name="id" value={{app.user.id}} hidden>
     <p>Messages privés:{%if app.user.prefmp ==1 %}
            <input type="radio" name="mp" value="1" checked> Oui     
            <input type="radio" name="mp" value="0"> Non<br>
          {%else%}
            <input type="radio" name="mp" value="1" > Oui     
            <input type="radio" name="mp" value="0" checked> Non<br>
        {%endif%}
    </p>
     <p>Communauté:{%if app.user.prefcomm ==1 %}
            <input type="radio" name="comm" value="1" checked> Oui     
            <input type="radio" name="comm" value="0"> Non<br>
          {%else%}
            <input type="radio" name="comm" value="1" > Oui     
            <input type="radio" name="comm" value="0" checked> Non<br>
        {%endif%}

    </p>
     <p>Smart Café:{%if app.user.prefsmartcafe ==1 %}
            <input type="radio" name="smartcafe" value="1" checked> Oui     
            <input type="radio" name="smartcafe" value="0"> Non<br>
          {%else%}
            <input type="radio" name="smartcafe" value="1" > Oui     
            <input type="radio" name="smartcafe" value="0" checked> Non<br>
        {%endif%}

    </p>
     <p>Reponse:{%if app.user.prefrep ==1 %}
            <input type="radio" name="rep" value="1" checked> Oui     
            <input type="radio" name="rep" value="0"> Non<br>
          {%else%}
            <input type="radio" name="rep" value="1" > Oui     
            <input type="radio" name="rep" value="0" checked> Non<br>
        {%endif%}

    </p>
     <p>Reponses Validées:         
        {%if app.user.prefrepValidee ==1 %}
            <input type="radio" name="repval" value="1" checked> Oui     
            <input type="radio" name="repval" value="0"> Non<br>
          {%else%}
            <input type="radio" name="repval" value="1" > Oui     
            <input type="radio" name="repval" value="0" checked> Non<br>
        {%endif%}

    </p>
     <p>Reponses Certifiées:{%if app.user.prefrepCertifiee ==1 %}
            <input type="radio" name="repcert" value="1" checked> Oui     
            <input type="radio" name="repcert" value="0"> Non<br>
          {%else%}
            <input type="radio" name="repcert" value="1" > Oui     
            <input type="radio" name="repcert" value="0" checked> Non<br>
        {%endif%}

    </p>    
    <p><input class="btn" type="submit" value="Modifier mes préférences"></p>
</form>     
{% endblock %}