{% extends "SmartUnityUtilisateurBundle::layout_profil.html.twig" %}

{% block infos %}  
<div class="row  ">
    <div class="grille-1">Pseudo:</div>
    <div class="grille-2">{{app.user.username}}</div>
</div>

<div class="row  ">
    <div class="grille-1">E-mail:</div>
    <div class="grille-2">{{app.user.email}}</div>
</div>
<div class="row  ">
    <div class="grille-1">Nom:</div>
    <div class="grille-2">{{app.user.nom}}</div>
</div>
<div class="row  ">
    <div class="grille-1">Age:</div>
    <div class="grille-2">{{ app.user.datenaissance | date('D-M-Y') }}</div>
</div>
<div class="row  ">
    <div class="grille-1">Sexe:</div>
    <div class="grille-2">{%if app.user.sexe =="m" %}
        Masculin
         {%elseif app.user.sexe =="f" %}
        Féminin
          {%else%}
        Non renseigné
        {%endif%}</div>
</div>
<div class="row  ">
    <div class="grille-1">Appareil:</div>
    <div class="grille-2"></div>
</div>
<div class="row  ">
    <div class="grille-1">Un peu plus sur moi:</div>
    <div class="grille-2"></div>
</div>

{% endblock %}

{% block preferences %}  

 <form action="{{ path('smart_unity_utilisateur_setpref') }}" {{ form_enctype(form_pref) }} method="POST">
    {{form_errors(form_pref)}}
    
    {{form_row(form_pref.pref_mp)}}
    {{form_row(form_pref.pref_comm)}}
    {{form_row(form_pref.pref_smartcafe)}}
    {{form_row(form_pref.pref_rep)}}
    {{form_row(form_pref.pref_repValidee)}}
    {{form_row(form_pref.pref_repCertifiee)}}
    <div>
        <input type="submit" value="Modifier mes preferences" />
    </div> 

{{form_end(form_pref)}}   
</form> 

{% endblock %}