{% extends "SmartUnityUtilisateurBundle::layout_profil.html.twig" %}
{% form_theme form_pref 'SmartUnityUtilisateurBundle:Form:form_mon_compte.html.twig' %}

{% block infos %}  

<div class="edit"> <a href="{{ path('smart_unity_utilisateur_editinfos') }}" class="btn btn-primary btn-xs">
        <span class="glyphicon glyphicon-pencil"></span>
    </a>
</div>

{% if avancement < 100 %}
<div class="progress progress-striped">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{ avancement }}%"> Complétez votre profil
    <span class="sr-only">{{ avancement }} % Complete</span>
  </div>
</div>
{% endif %}
{% if avatar %}
<div class="row " style="text-align: center;">
    <img src="{{ asset( '') }}{{ avatar }}" alt="avatar">
</div>
{%else%}
<div class="row " style="text-align: center;">    
    <img class="img-avatar" src="{{ asset( '') }}uploads/documents/logo.png" alt="avatar">
</div>
{%endif%}

<div class="row premiere-ligne">
    <div class="grille-1">Pseudo:</div>
    <div class="grille-2">{{app.user.username}}</div>
</div>

<div class="row  ">
    <div class="grille-1">E-mail:</div>
    <div class="grille-2">{{app.user.email}}</div>
</div>
<div class="row  ">
    <div class="grille-1">Nom:</div>
    <div class="grille-2">{{app.user.nom}}</div>
</div>
<div class="row  ">
    <div class="grille-1">Prénom:</div>
    <div class="grille-2">{{app.user.prenom}}</div>
</div>
<div class="row  ">
    <div class="grille-1">Date de naissance:</div>
    <div class="grille-2">
{%if app.user.datenaissance !=null %}
{{ app.user.datenaissance|date("d/m/Y")  }}
    {%else%}
    {%endif%}
    </div>
</div>
<div class="row  ">
    <div class="grille-1">Sexe:</div>
    <div class="grille-2">{%if app.user.sexe =="m" %}
        Masculin
         {%elseif app.user.sexe =="f" %}
        Féminin
          {%else%}
        Non renseigné
        {%endif%}</div>
</div>
<div class="row  ">
    <div class="grille-1">Appareil:</div>
    <div class="grille-2"></div>
</div>
<div class="row  ">
    <div class="grille-1">Un peu plus sur moi:</div>
    <div class="grille-2"></div>
</div>
<div class="cent-h bouton-bas-block">
    <a href="{{ path('fos_user_change_password') }}" class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-credit-card"></span> Changer mot de passe
    </a>


    <a href="{{ path('smart_unity_utilisateur_editavatar') }}" class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-user"></span> Changer mon avatar
    </a>
</div>

{% endblock %}
