                          <div class="grille-reponse{% if reponse.is_certif or reponse.is_validated %}-smart{% endif %}">
                                 <div class="grille-4">
                                    <div class="roww" style="display:inline-block">
                                      <div class="fleche">
                                          <a href=""><img src="{{ asset('assets/img/fléche-verte.png') }}" /><p style="color:#7fc236">{{reponse.up_vote}}</p></a>
                                        </div>
                                        <div class="fleche">
                                          <a href=""><img src="{{ asset('assets/img/fléche-rouge.png') }}"/><p style="color:#F00">{{reponse.down_vote}}</p></a>
                                        </div>
                                    </div>
                                    <div class="roww">
                                      <p style="font-size:11px">{{reponse.date}}</p>
                                    </div>
                                    {% if reponse.is_certif or reponse.is_validated %}
                                    <div class="roww">
                                      <img src="{{ asset('assets/img/certif.png') }}" style="margin-top:10px"/>
                                    </div>
                                    {% endif %}
                                </div>
                                
                                <div class="grille-5" >
                         
                                  <div class="grille-3-over">
                                    <div class="grille-3">
                             
                                        <div class="grille-3-grey">
                                            <div class="grille-3-im">
                                                  <img src="{{ asset('assets/img/logo-compte.png') }}"/>
                                            </div>
                                            <div class=" grille-3-txt">
                                              <p style="margin:0px; font-weight:600">{{reponse.membre_nom}}</p>
                                            <p style="margin:0px">{{reponse.smart_reponses}} Smart'Reponses</p>
                                            <p style="margin:0px">{{reponse.nb_questions_membre}} Questions</p>
                                            <p style="margin:0px">{{reponse.points_membre}} Smart'Points</p>
                                            </div>
                                            <div class="grille-3-rond">
                                              <div class="square-blue">
                                                {{reponse.membre_reputation}}
                                                </div>
                                            </div>
                                        </div>
                                   
                                  
                                </div>
                                </div>
                                <p >{{reponse.description}}</p>

                                    {% for commentaire in reponse.commentaires %}
                                    <div class="commentaire">
                                    <p style="float:left">{{commentaire.description}}</p><p style="float:right">{{commentaire.membre_nom}} le {{commentaire.date}}</p>
                                    </div>
                                    {% endfor %}

                                    <div style="float:right">
                                    <div class="grille-3-btn">
                                       <a href="#"><div class="bouton-com-rep">Commenter</div></a>
                                    </div>
                                    </div>

                                </div>
                                </div>