<div class="grille-reponse{% if reponse.is_certif or reponse.is_validated %}-smart{% endif %}">
    <div class="grille-1" style="text-align:center">
        <div class="roww" id="vote{{reponse.id}}" style="display:inline-block;text-align:center" rel="tooltip" data-original-title="{% if not is_granted('ROLE_USER') %}Vous devez être connecté pour noter une réponse.{% elseif reponse.is_voted %}Vous avez déjà noté cette question.{% endif %}">
            <div class="fleche upVote" {% if is_granted('ROLE_USER') and not reponse.is_voted %}onClick="javascript:upVote({{reponse.id}})"{% endif %}>
                <img src="{{ asset('assets/img/fleche_plus.png') }}" /><p style="color:#7fc236">{{reponse.up_vote}}</p>
            </div>
            <div class="fleche downVote" {% if is_granted('ROLE_USER') and not reponse.is_voted %}onClick="javascript:downVote({{reponse.id}})"{% endif %}>
                <img src="{{ asset('assets/img/fleche_moins.png') }}"/><p style="color:#F00">{{reponse.down_vote}}</p>
            </div>
        </div>
        <div class="roww">
            <p style="font-size:11px">{{reponse.date}}</p>
        </div>
                                    {% if reponse.is_certif %}
        <div class="roww" rel="tooltip" data-original-title="Cette réponse à été certifiée Smart'Solution.">
            <img src="{{ asset('assets/img/certif.png') }}" style="margin-top:10px"/>
        </div>
                                    {% elseif reponse.is_validated %}
        <div class="roww" rel="tooltip" data-original-title="Cette réponse à été validée par le demandeur.">
            <img src="{{ asset('assets/img/check.png') }}" style="margin-top:10px"/>
        </div>
                                    {% endif %}

    </div>



    <div class="grille-2" >

        <div class="grille-3-over">
            <div class="grille-3">

                <div class="grille-3-grey">

                    <div class="grille-3-im">
                                            {% if reponse.avatar %}
                        <img src="{{ asset('') }}{{ reponse.avatar }}" alt="avatar" height="71" width="71" />
                                            {% else %}
                        <img src="{{ asset('assets/img/logo-compte.png') }}" />
                                            {% endif %}
                    </div>

                    <div class=" grille-3-txt">
                        <p style="margin:0px; font-weight:600"><a href="{{ path('smart_unity_membre_profil', {id: reponse.membre_id}) }}">{{reponse.membre_username}}</a></p>
                        <p style="margin:0px">{{reponse.smart_reponses}} Smart'Reponses</p>
                        <p style="margin:0px">{{reponse.nb_questions_membre}} Questions</p>
                        <p style="margin:0px">{{reponse.points_membre}} Smart'Points</p>
                    </div>
                    <div class="grille-3-rond">
                        <div class="square-blue">

                                                {{reponse.membre_reputation}}
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <p style="min-height: 100px">{{reponse.description}}</p>

                                    {% for commentaire in reponse.commentaires %}
        <div class="commentaire">
            <p style="float:left">{{commentaire.description}}</p><p style="float:right">
                                            {{commentaire.membre_username}} le {{commentaire.date}}
                <a href="{% if is_granted('ROLE_USER') %}{{path('smart_unity_question_reponse_signaler_commentaire_reponse', {idCommentaireReponse: commentaire.id})}}{% else %}#{% endif %}" style="display: inline-block"><img src="{{ asset('assets/img/signaler.png') }}"/></a>
            </p>
        </div>
                                    {% endfor %}

        <div class="bloc-commenter-repondre">
            <div class="grille-3-btn">
                                      {% if not reponse.is_certif and reponse.is_validated and is_granted('ROLE_ADMIN') %}
                <div style="float:left; margin-right:5px;">
                    <a href="{{path('smart_unity_question_reponse_certification', {idReponse: reponse.id})}}"><img src="{{ asset('assets/img/certif-btn.png') }}"/></a>
                </div>
                                      {% endif %}
                                      {% if not is_validated and is_granted('ROLE_USER') and app.user.id == question.membre.id %}
                <div style="float:left; margin-right:5px;">
                    <a href="{{path('smart_unity_question_reponse_validation_reponse', {idReponse: reponse.id})}}"><img src="{{ asset('assets/img/valid-btn.png') }}"/></a>
                </div>
                                      {% endif %}
                <div style="float: left;margin-right: 5px; margin-top: 7px;">
                    <a href="{% if is_granted('ROLE_USER') %}{{path('smart_unity_question_reponse_signaler_reponse', {idReponse: reponse.id})}}{% else %}#{% endif %}"><img src="{{ asset('assets/img/signaler.png') }}"/></a>
                </div>
{#                <div class="bouton-com-rep" style="margin-left:10px"><a class="commentaire-btn" {% if not is_granted('ROLE_USER') %} rel="tooltip" data-original-title="Vous devez être connecté pour commenter une réponse."{% endif %} href="{{path('smart_unity_question_reponse_add_commentaire_reponse', {idReponse: reponse.id})}}">Commenter</a></div>#}
                <div class="form-commenter-reponse"></div>
{#                <form action="{{path('smart_unity_question_reponse_add_commentaire_reponse', {idReponse: reponse.id})}}" method="POST">
                    <div  id="commentaire-input-reponse" class="commentaire-input" >{{ form_widget(formCommentaireReponse.description, {'attr': {'class': 'form-control forminfo', 'style': 'resize: none'}} )}}
                     <textarea id="form_description" name="form[description]" required="required" class="form-control forminfo" style="resize: none"></textarea>  
                        <span class="croix-close" onClick="closeComment(this)"> &#10006;</span>
                    </div>
                    <input type="submit" value="Envoyer" id="bouton-com-envoyer-reponse" class="bouton-com-rep commentaire-btn" style="margin-left:10px"/>
                         {{  form_rest(formCommentaireReponse) }}
                </form>#}

                <a class="commentaire-btn-reponse commentaire-btn" href="">
                    <div id="bouton-com-rep-reponse" class="bouton-com-rep" style="margin-left:10px"  {% if not is_granted('ROLE_USER') %} rel="tooltip" data-original-title="Vous devez être connecté pour commenter une question."{% endif %}>Commenter</div>
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    //bouton commenter réponse

    $('.commentaire-btn-reponse').click(function(e) {
        console.log('clickOK');
        var contentForm = generateContentForm();
        console.log(contentForm);

        $(this).prev().html(contentForm);
        
        $(this).children([0]).hide();

        e.preventDefault();
    });

    function closeCommentReponse(e) {
        $(e).parent().parent().parent().next().children().show();
        console.log($(e).parent().parent().parent().next().children());
        $(e).parent().parent().remove();

    }

    function generateContentForm() {

        var entity = '<form action="{{path('smart_unity_question_reponse_add_commentaire_reponse', {idReponse: reponse.id})}}" method="POST">';
        entity += '<div  class="commentaire-input" style="display:block;">{{ form_widget(formCommentaireReponse.description, {'attr': {'class': 'form-control forminfo', 'style': 'resize: none'}} )}} <textarea id="form_description" name="form[description]" required="required" class="form-control forminfo" style="resize: none"></textarea>';
        entity += '<span class="croix-close" onClick="closeCommentReponse(this)"> &#10006;</span> \
                    </div> \
                    <input type="submit" value="Envoyer" id="bouton-com-envoyer-reponse" class="bouton-com-rep commentaire-btn" style="margin-left:10px"/>{{  form_rest(formCommentaireReponse) }} \
                </form>';
        return entity;
    }

</script>
