<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
    {% block stylesheets %}{% endblock %}
</head>

<body style="background-color:#334A64">
<!-- head -->
 <div class="container" style="background-color:#edebeb;box-shadow: 0 0 30px black;">
 
  <div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-offset-1 col-md-6"><img src="{{ asset('assets/img/logo-su.png') }}"  class="img-responsive" style="padding:10px 0px 20px 0px"/></div>
<ul class="nav navbar-nav navbar-right">
  <li><a href="{{ path('fos_user_registration_register') }}">Créer un compte</a></li>
  <li>{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
Bonjour <a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a> <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
{% else %}
<a href="{{ path('fos_user_security_login') }}">Connexion</a>
{% endif %}</li></ul>
    </div>
  </div>
  </div>
  
  <!-- /.navbar-collapse -->
  <div class="row">
<div class="col-md-12" style="background-image: url({{ asset('assets/img/background-menu.png') }}); box-shadow: 0 5px 20px  black;">

  
         <nav class="navbar navbar-inverse" role="navigation">
         
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        
          </div>
        
          
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
              <li><a href="#"><img src="{{ asset('assets/img/logo-index.png') }}" /></a></li>
              <li class="active"><a href="#"><p style="font-size:18px">QUESTIONS & SOLUTIONS</p></a></li>
              <li><a href="#">BOUTIQUE</a></li>
              <li><a href="#">SMART'CAFE</a></li>
            </ul>
          </div>
        </nav>

</div>
</div>

<!-- nav -->
<div class="row">
<div class="col-md-12" style="height:900px">


{% block body %}{% endblock %}


    
</div>
</div>
   
<!-- footer --> 
<div class="row">
<div class="col-md-12" style="background-image:url({{ asset('assets/img/barre-footer.png') }}); height:31px ;box-shadow: 0 5px 20px  black; ">
</div>
</div>

 		<div class="row"  style="text-align:center; padding-top:20px; padding-bottom:20px">
        <div class="col-md-2" style="display:inline-block;
  vertical-align:middle"><p>SUIVEZ NOUS:</p></div><div class="col-md-3"><a href="#"><img src="{{ asset('assets/img/logo-f-f.png') }}" style="padding-left:15px"/></a><a href="#"><img src="{{ asset('assets/img/logo-t-f.png') }}" style="padding-left:15px"/></a><a href="#"><img src="{{ asset('assets/img/logo-g-f.png') }}" style="padding-left:15px"/></a></div>
        
        <div class="col-md-2"><a href="#"><p>A propos de smart'unity</p></a></div><div class="col-md-2"><a href="#"><p>Conditions generales d'utilisation</p></a></div><div class="col-md-1"><a href="#"><p>Publicité</p></a></div><div class="col-md-2"><a href="#"><p>Copy right smart'unity</p></a></div>
        </div>
		</div>  
        

<!-- footer --> 

   
</div>

<!-- Bootstrap core JavaScript --> 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('js/jquery.js') }}"><\/script>')</script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/holder.js') }}"></script>
</body>
</html>
