{% extends "SmartUnityUtilisateurBundle::layout_profil.html.twig" %}

{% form_theme form_password 'SmartUnityUtilisateurBundle:Form:form_div_layout.html.twig' %}
{% form_theme form_pref 'SmartUnityUtilisateurBundle:Form:form_div_layout.html.twig' %}


{% block change_password %}
{% trans_default_domain 'FOSUserBundle' %}

<div class="edit">
    <a class="btn btn-primary btn-xs" type="button" onclick="javascript:history.back()">Annuler
    </a>
</div>  

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form_password) }} method="POST" class="fos_user_change_password">

    {{form_errors(form_password)}}

    <div class="row premiere-ligne ">
        <div class="grille-1">Mot de passe actuel :
        </div>
        <div class="grille-2">
        {{form_widget(form_password.current_password)}}
        </div>
    </div>
        {{form_row(form_password.plainPassword)}}
    </span>
    <div class="cent-h bouton-bas-block">
        <button type="submit" class="btn btn-primary btn-sm">Valider nouveau mot de passe</button>
    </div>  

        {{form_end(form_password)}}  

</form>

{% endblock change_password %}

{% block preferences %}  

<form action="{{ path('smart_unity_utilisateur_setpref') }}" {{ form_enctype(form_pref) }} method="POST">
    {{form_errors(form_pref)}}

    <div class="premiere-ligne ">Je souhaite recevoir des notifications par Email pour:
    </div>
    <div class="row premiere-ligne ">
        <div class="grille-1 pref">Un message privé:</div>
        <div class="grille-2 pref radio-pref">{{form_widget(form_pref.pref_mp)}}</div>
    </div>
    <div class="row  ">
        <div class="grille-1 pref">Un commentaire:</div>
        <div class="grille-2 pref radio-pref">{{form_widget(form_pref.pref_comm)}}</div>
    </div>
    <div class="row  ">
        <div class="grille-1 pref">Le message sur le Smart'Café:</div>
        <div class="grille-2 pref radio-pref">{{form_widget(form_pref.pref_smartcafe)}}</div>
    </div>
    <div class="row  ">
        <div class="grille-1 pref">Une réponse à une question:</div>
        <div class="grille-2 pref radio-pref">{{form_widget(form_pref.pref_rep)}}</div>
    </div>
    <div class="row  ">
        <div class="grille-1 pref">Une de mes réponses à été validée:</div>
        <div class="grille-2 pref radio-pref">{{form_widget(form_pref.pref_repValidee)}}</div>
    </div>
    <div class="row  ">
        <div class="grille-1 pref">Smart'Solution:</div>
        <div class="grille-2 pref radio-pref">{{form_widget(form_pref.pref_repCertifiee)}}</div>
    </div>

    <div class="cent-h bouton-bas-block">
        <button type="submit" class="btn btn-sm btn-default">Valider mes préférences

    </div>

{{form_end(form_pref)}}   
</form> 

{% endblock %}