{% extends "SmartUnityUtilisateurBundle::layout_profil.html.twig" %}

{% form_theme form_password 'SmartUnityUtilisateurBundle:Form:form_mon_compte.html.twig' %}

{% block change_password %}
{% trans_default_domain 'FOSUserBundle' %}

<div class="edit">
    <a class="btn btn-primary btn-xs modify" type="button"  href="{{ path('smart_unity_utilisateur_homepage') }}"><span class="croix-close">✖</span>
    </a>
</div>  

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form_password) }} method="POST" class="fos_user_change_password">


            <div class="erreur">    
            <p>{{form_errors(form_password.current_password)}}</p>
        </div>
    <div class="row premiere-ligne ">
        <div class="grille-1">Mot de passe actuel
        </div>


        <div class="grille-2">
        {{form_widget(form_password.current_password)}}
        </div>

    </div>

        {{form_row(form_password.plainPassword)}}

    <div class="cent-h bouton-bas-block">
        <button type="submit" class="btn bouton-repondre">Valider la modification</button>
    </div>  

        {{form_end(form_password)}}  

</form>

{% endblock change_password %}