{% extends "SmartUnityAppBundle::layoutLog.html.twig" %}

{% block title %}Smart'Unity - Accueil{% endblock %}

{% block stylesheets %}
{% stylesheets filter='cssrewrite, yui_css'
				 'assets/css/accueil.css' 
				 'assets/css/barreDeRecherche.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block body %}

              <div class="col-md-12 carousel-show" style="padding: 0;">
                      <div id="carousel-example-generic" class="carousel slide" >
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                          <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                        </ol>
                      
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div id="slide-bienvenue" onload="apparitionTexte()" class="item active">
                          	<div class="text-accueil">
						  		<h1>Bienvenue dans la communauté</h1><hr />
						  		<h2>Le site d'entraide pour utilisateur de smartphone</h2>
						  		<h3>Trouvez toutes les réponses à vos questions pour que l'utilisation de votre<br>smartphone devienne simple comme bonjour !</h3>
						  		<h3>Partagez vos connaissances et gagnez des cadeaux !</h3>
						  		
						  		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						  		<button class="bouton-repondre savoir-plus-log" onclick="self.location.href='{{ path('smart_unity_app_descriptionpage') }}'">En savoir plus</button>
						  		{% else %}			  		
						  		<button class="bouton-repondre savoir-plus" onclick="self.location.href='{{ path('smart_unity_app_descriptionpage') }}'">En savoir plus</button>
						  		<button class="bouton-repondre nous-rejoindre" onclick="self.location.href='{{ path('fos_user_registration_register') }}'">Nous rejoindre</button>
						  		{% endif %}

                          	</div>
                            <img src="{{asset('assets/img/carousel-bienvenue.jpg') }}" alt="">
                            <div class="carousel-caption">
                            </div>
                          </div>
                          <div class="item">
                            <img src="{{asset('assets/img/carousel-efficacite.jpg') }}" alt="" >
                            <div class="text-autre carousel-caption">
                            	<h1>Efficacité</h1><hr />
						  		<h2>Un système de Q/R innovant.</h2>
						  		<h3>Smart’Unity est une plateforme de Question/Réponse : posez votre question, obtenez des réponses. Pas de blabla.<br><br>Toujours pas de réponse au bout de 48h ? Pas d’inquiétude, votre question est mise en avant.</h3>
                            </div>
                          </div>
                          <div class="item">
                            <img src="{{asset('assets/img/carousel-fiabilite.jpg') }}" alt="" >
                            <div class="text-autre carousel-caption">
                            	<h1>Fiabilité</h1><hr />
						  		<h2>De vraies solutions.</h2>
						  		<h3>La communauté juge la pertience des réponses. Les plus pertinentes sont ainsi mises en avant.<br><br>Les meilleures réponses sont validées par les demandeurs.<br><br>Ces réponses validées sont ensuite certifiées par les experts Smart’Unity pour aider les  membres rencontrant le même problème.</h3>
                            </div>
                          </div>
                          <div class="item">
                            <img src="{{asset('assets/img/carousel-recompense.jpg') }}" alt="" >
                            <div class="text-autre carousel-caption">
                            	<h1>Récompensé</h1><hr />
						  		<h2>C'est donnant-donnant.</h2>
						  		<h3>En répondant aux questions de la communauté, vous gagnez des points que vous pourrez échanger contre des cadeaux !<br><br>Apportez vos connaissances aux autres membres de la communauté et profitez de leur expérience dans d’autres domaines.</h3>
                            </div>
                          </div>
                          <div class="item">
                            <img src="{{asset('assets/img/carousel-simplicite.jpg') }}" alt="">
                            <div class="text-autre carousel-caption">
                            	<h1>Simplicité</h1><hr />
						  		<h2>Aller à l'essentiel.</h2>
						  		<h3>Nous avons mis en oeuvre les fonctionnalités qui vous sont utiles. Pas plus.<br><br>Aucune information superflue ne vient perturber votre experience utilisateur.<br><br>Les réponses certifiées sont assurément simples et compréhensibles par tous.</h3>
                            </div>
                          </div>
                       
                        </div>
                      
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                          <img src="{{asset('assets/img/previous.png') }}" alt="">
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                          <img src="{{asset('assets/img/next.png') }}" alt="">
                        </a>
                      </div>
   
              </div>

          
          {% include "SmartUnityAppBundle::BarreRecherche.html.twig" %}

          <div class="row">
              <div class="col-md-8">
                  <div class="grille-content-2 tab-ajax">
                      <ul class="nav nav-tabs" id="myTab">
                        <li class="active solution-tab"><a href="#reponses" data-toggle="tab" >Solutions</a></li>
                        <li style="float:right"><a href="#onFire" data-toggle="tab">Questions brûlantes</a></li>
                        <li style="float:right"><a href="#last" data-toggle="tab">Derni&egrave;res Questions</a></li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane active fade in out" id="reponses">
                          {% if countSolved == 0 %}
                            <br/>
                            <p align="center">Il n'y a aucune question r&eacute;solue</p>
                            <br/>
                          {% else %}
                            {% for question in listeSolvedQuestions %}

                                    <div class="grille-question-centent">
                                    <div class="grille-question-rond">
                                    {% if question.is_certif_question %}
                                        <img src="{{ asset('assets/img/certif.png') }}" style="margin-right:0px"/>
                                    {% else %}   
                                        <img src="{{ asset('assets/img/check.png') }}" style="margin-right:0px"/>
                                    {% endif %} 
                                      </div>
                                      <div class="grille-question-det">
                                        <a href="{{ path('smart_unity_question_reponse_display_reponse', {slug:question.slug, page:'1'}) }}"><button type="button" class="bouton-repondre">Détails</button></a>
                                      </div>
                                      <div class="grille-question-txt">
                                          <p>{{ question.sujet }}</p>
                                          <p style="font-weight:200; font-style:italic">{{ question.membre_username }} le {{ question.date }}</p>
                                      </div>
                                      
                                  </div>
                                      <!-- contenue caché fin-->
                            {% endfor %}
                          {% endif %}
                        </div>

                        <div class="tab-pane fade in out" id="onFire">
                          {% if countOnFire == 0 %}
                            <br/>
                            <p align="center">Il n'y a aucune question On Fire</p>
                            <br/>
                          {% else %}
                              {% for question in listeQuestionsOnFire %}

                                      <div class="grille-question-centent">
                                      <div class="grille-question-rond">
                                          <div class="rond-point">
                                            {{ question.remuneration }} pts
                                            </div>
                                        </div>
                                        <div class="grille-question-det">
                                          <a href="{{ path('smart_unity_question_reponse_display_reponse', {slug:question.slug, page:'1'}) }}"><button type="button" class="bouton-repondre">Détails</button></a>
                                        </div>
                                        <div class="grille-question-txt">
                                            <p>{{ question.sujet }}</p>
                                            <p style="font-weight:200; font-style:italic">{{ question.membre_username }} le {{ question.date }}</p>
                                            
                                        </div>
                                        
                                    </div>
                                        <!-- contenue caché fin-->
                              {% endfor %}
                          {% endif %}
                        </div>

                        <div class="tab-pane fade in out" id="last">
                          {% if countLast == 0 %}
                            <br/>
                            <p align="center">Il n'y a aucune question r&eacute;cente</p>
                            <br/>
                          {% else %}
                              {% for question in listeLastQuestions %}

                                      <div class="grille-question-centent">
                                      <div class="grille-question-rond">
                                          <div class="rond-point">
                                            {{ question.remuneration }} pts
                                            </div>
                                        </div>
                                        <div class="grille-question-det">
                                          <a href="{{ path('smart_unity_question_reponse_display_reponse', {slug:question.slug, page:'1'}) }}"><button type="button" class="bouton-repondre">Détails</button></a>
                                        </div>
                                        <div class="grille-question-txt">
                                            <p>{{ question.sujet }}</p>
                                          <p style="font-weight:200; font-style:italic">{{ question.membre_username }} le {{ question.date }}</p>
                                        </div>
                                       
                                    </div>
                                        <!-- contenue caché fin-->
                              {% endfor %}
                          {% endif %}
                        </div>

                      </div>
    </div>
          </div>
  <div class="col-md-4">
              <div class="grille-content">
                  <div class="row">
                            <div class="text-center"><h3>Blog</h3></div>
                      </div>
                      <div class="row cadre-cafe-boutique">
                          <img src="{{asset('assets/img/cafe1.jpg') }}" alt="" />
                          <p>Un coin où vous pouvez découvrir notre vision sur le monde des smartphones ! Tutos, idées, astuces ou même banalités, tout y est ! </p>
                          <div class="bouton-decouvrir">
                          	<a target="blank" href="http://blog.smartunity.fr"><button type="button" class="bouton-repondre">Découvrir</button></a>
                          </div>
                      </div>
    </div>
              <div class="grille-content">
                  <div class="row">
                            <div class="text-center"><h3>Boutique</h3></div>
                      </div>
                      <div class="row cadre-cafe-boutique">
                          <img src="{{asset('assets/img/poche.jpg') }}" alt="" />
                          <p>Utilisez vos points pour les convertir en cadeaux et profitez ainsi de nombreux accessoires pour optimiser l’utilisation de vos smartphones !</p>
                          <div class="bouton-decouvrir"><a href={{ path('smart_unity_boutique_homepage') }} target="blank"><button type="button" class="bouton-repondre">Découvrir</button></a></div>
                      </div>
              </div>
  </div>
</div>

<script>
//  animation carousel bienvenue 
$('.text-accueil').fadeTo(1, 1);
</script>

{% endblock %}

