{% extends "SmartUnityAppBundle::layoutLog.html.twig" %}

{% block title %}Smart'Unity - Accueil{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/accueil.css') }}"  rel="stylesheet" type="text/css">
{#<link href="{{ asset('assets/css/question2.css') }}"  rel="stylesheet" type="text/css">#}

{% endblock %}

{% block body %}
<!-- <p> {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
Bonjour {{ app.user.username}} 
{% endif %} </p>  -->

              <div class="col-md-12 carousel-show" style="padding: 0;">
                      <div id="carousel-example-generic" class="carousel slide" >
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                          <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                        </ol>
                      
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active">
                          	<button class="bouton-repondre participer" onclick="self.location.href='{{ path('smart_unity_app_descriptionpage') }}'">En savoir plus</button>
                            <img src="{{asset('assets/img/carousel-bienvenue.jpg') }}" alt="">
                            <div class="carousel-caption">
                            
                            </div>
                          </div>
                          <div class="item">
                            <img src="{{asset('assets/img/carousel-simplicite.jpg') }}" alt="" >
                            <div class="carousel-caption">
                            </div>
                          </div>
                          <div class="item">
                            <img src="{{asset('assets/img/carousel-efficacite.jpg') }}" alt="" >
                            <div class="carousel-caption">
                            </div>
                          </div>
                          <div class="item">
                            <img src="{{asset('assets/img/carousel-fiabilite.jpg') }}" alt="" >
                            <div class="carousel-caption">
                            </div>
                          </div>
                          <div class="item">
                            <img src="{{asset('assets/img/carousel-recompense.jpg') }}" alt="">
                            <div class="carousel-caption">
                             
                            </div>
                          </div>
                       
                        </div>
                      
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                          <img src="{{asset('assets/img/previous.png') }}" alt="">
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                          <img src="{{asset('assets/img/next.png') }}" alt="">
                        </a>
                      </div>
   
              </div>

          
          {% include "SmartUnityAppBundle::BarreRecherche.html.twig" %}

          <div class="row">
              <div class="col-md-8">
                  <div class="grille-content-2 tab-ajax">
                      <ul class="nav nav-tabs" id="myTab">
                          <li class="active"><a href="#reponses" data-toggle="tab" >Solutions</a></li>
                        <li style="float:right"><a href="#onFire" data-toggle="tab">Questions brûlantes</a></li>
                        <li style="float:right"><a href="#last" data-toggle="tab">Derni&egrave;res Questions</a></li>
                      </ul>
                      <div class="tab-content" style="margin:0px 15px"><!-- style="margin:15px" -->


                        <div class="tab-pane active fade in out" id="reponses">
                          {% if countSolved == 0 %}
                            <br/>
                            <p align="center">Il n'y a aucune question r&eacute;solue</p>
                            <br/>
                          {% else %}
                            {% for question in listeSolvedQuestions %}

                                    <div class="grille-question-centent">
                                    <div class="grille-question-rond">
                                          {% if question.certif_best_reponse is not null %}
                                        <img src="{{ asset('assets/img/certif.png') }}" style="margin-right:0px"/>
                                    {% else %}   
                                        <img src="{{ asset('assets/img/check.png') }}" style="margin-right:0px"/>
                                    {% endif %} 
                                      </div>
                                      <div class="grille-question-det">
                                        <a href="{{ path('smart_unity_question_reponse_display_reponse', {slug:question.slug, page:'1'}) }}"><button type="button" class="bouton-repondre">Détails</button></a>
                                      </div>
                                      <div class="grille-question-txt">
                                          <p>{{ question.sujet }}</p>
                                          <p style="font-weight:200; font-style:italic">{{ question.membre_username }} le {{ question.date }}</p>
                                      </div>
                                      
                                  </div>
                                      <!-- contenue caché fin-->
                            {% endfor %}
                          {% endif %}
                        </div>

                        <div class="tab-pane fade in out" id="onFire">
                          {% if countOnFire == 0 %}
                            <br/>
                            <p align="center">Il n'y a aucune question On Fire</p>
                            <br/>
                          {% else %}
                              {% for question in listeQuestionsOnFire %}

                                      <div class="grille-question-centent">
                                      <div class="grille-question-rond">
                                          <div class="rond-point">
                                            {{ question.remuneration }} pts
                                            </div>
                                        </div>
                                        <div class="grille-question-det">
                                          <a href="{{ path('smart_unity_question_reponse_display_reponse', {slug:question.slug, page:'1'}) }}"><button type="button" class="bouton-repondre">Détails</button></a>
                                        </div>
                                        <div class="grille-question-txt">
                                            <p>{{ question.sujet }}</p>
                                            <p style="font-weight:200; font-style:italic">{{ question.membre_username }} le {{ question.date }}</p>
                                            
                                        </div>
                                        
                                    </div>
                                        <!-- contenue caché fin-->
                              {% endfor %}
                          {% endif %}
                        </div>

                        <div class="tab-pane fade in out" id="last">
                          {% if countLast == 0 %}
                            <br/>
                            <p align="center">Il n'y a aucune question r&eacute;cente</p>
                            <br/>
                          {% else %}
                              {% for question in listeLastQuestions %}

                                      <div class="grille-question-centent">
                                      <div class="grille-question-rond">
                                          <div class="rond-point">
                                            {{ question.remuneration }} pts
                                            </div>
                                        </div>
                                        <div class="grille-question-det">
                                          <a href="{{ path('smart_unity_question_reponse_display_reponse', {slug:question.slug, page:'1'}) }}"><button type="button" class="bouton-repondre">Détails</button></a>
                                        </div>
                                        <div class="grille-question-txt">
                                            <p>{{ question.sujet }}</p>
                                          <p style="font-weight:200; font-style:italic">{{ question.membre_username }} le {{ question.date }}</p>
                                        </div>
                                       
                                    </div>
                                        <!-- contenue caché fin-->
                              {% endfor %}
                          {% endif %}
                        </div>

                      </div>
    </div>
          </div>
  <div class="col-md-4">
              <div class="grille-content">
                  <div class="row">
                            <div class="text-center"><h3>Smart'Café</h3></div>
                      </div>
                      <div class="row cadre-cafe-boutique">
                          <img src="{{asset('assets/img/cafe1.jpg') }}" alt="" />
                          <p>Un coin de détente pour partager les nouveautés et bons plans de l’actu Smartphone ou simplement pour parler de tout et n’importe quoi !</p>
                          <div class="bouton-decouvrir"><button type="button" class="bouton-repondre">Découvrir</button></div>
                      </div>
    </div>
              <div class="grille-content">
                  <div class="row">
                            <div class="text-center"><h3>Boutique</h3></div>
                      </div>
                      <div class="row cadre-cafe-boutique">
                          <img src="{{asset('assets/img/poche.jpg') }}" alt="" />
                          <p>Utilisez vos points pour les convertir en cadeaux et profitez ainsi de nombreux accessoires pour optimiser l’utilisation de vos smartphones !</p>
                          <div class="bouton-decouvrir"><button type="button" class="bouton-repondre">Découvrir</button></div>
                      </div>
              </div>
  </div>
</div>

{% endblock %}

