{% block recherche %}

{#BOUTONS DEMANDER ET REPONDRE#}
<div class="row question">
    <div class="col-md-6 col-md-offset-3" >
        <div class="text-center">
            <h1 class="rechercher">
{#                <input type="radio" name="s1" id="sOn" value="1" hidden {% if app.request.attributes.get('_route') != 'smart_unity_question_reponse_repondre_questions' %} checked {% endif %}>  
                <label for="sOn" class="back-color switch switch--on" id="sli-de">Demander</label>

                <input type="radio" name="s1" id="sOff" value="0" hidden {% if app.request.attributes.get('_route') == 'smart_unity_question_reponse_repondre_questions' %} checked{% endif %}>
                <label for="sOff" class="back-color switch switch--off" id="sli-re">Répondre</label>#}
                Rechercher :
            </h1>
        </div>
    </div>
</div>
{# FIN BOUTONS DEMANDER ET REPONDRE#}

{#BARRE RECHERCHE DEMANDER#}
<div class="slider" id="sli1" {% if app.request.attributes.get('_route') == 'smart_unity_question_reponse_repondre_questions' %} style="display:none;"{% endif %}>
    <div style="clear:both;">
        <div class="find-content">
            <form action="{{ path('smart_unity_question_reponse_demander_questions') }}" method="GET">
                <div spellcheck="false" class="input-group cent-h find-slider" style="position: relative;">
                    <input type="text" placeholder="Entrez votre question ici..." name="q" id="q" value="{% if requete is defined %}{{requete}}{% endif %}" class="form-control">
       <div class="rech-switch" id="sli-re"><a>Recherche avancée</a></div>                
                    <input type="hidden" name="p" id="p" value="1" class="form-control">
                    <span class="input-group-btn">
                        <button class="search-btn" type="submit"><span class="glyphicon glyph-barre glyphicon-search" ></span></button>
                    </span>
                </div>
            </form>
        </div>
    </div>

</div>
{#FIN BARRE RECHERCHE DEMANDER#}

{#BARRE RECHERCHE REPONDRE#}
<div class="slider" id="sli2"  {% if app.request.attributes.get('_route') != 'smart_unity_question_reponse_repondre_questions' %} style="display:none;"{% endif %}>
    <div style="clear:both;">
        <div class="find-content">
             {{form_start(formQuestion) }}
                <div class="cent-h">
                    <div class="row">

                    {{ form_widget(formQuestion.marque, { 'attr': {'class': 'chosen-select', 'data-placeholder':'Marque'}}) }}
                    {{ form_widget(formQuestion.os, { 'attr': {'class': 'chosen-select', 'data-placeholder':"Système logiciel"} }) }}
                    {{ form_widget(formQuestion.typeQuestion, { 'attr': {'class': 'chosen-select', 'data-placeholder':'Type de question'} }) }}
                    {{ form_widget(formQuestion.motCle, { 'attr': {'class': 'text-mot-cle', 'placeholder':'Mot(s) clé(s)'} }) }}
                    <div class="rech-switch" id="sli-de"><a>Recherche normale</a></div> 
                    {{form_widget(formQuestion._token)}} 
                    <input type="hidden" name="p" id="p" value="1" class="form-control">
                    <button class="search-answer" type="submit"><span class="glyphicon glyphicon-search" ></span></button>
                </div>
                </div>    
            </form>
        </div>
    </div>
</div>
{#FIN BARRE RECHERCHE REPONDRE#}

<div class="ou row text-center">OU</div>

    		<div class="text-center">
                    <a id="popupQuestion"{% if not is_granted('ROLE_USER') %} rel="tooltip" data-original-title="Vous devez être connecté pour poser une question." href= "{{ path('fos_user_security_login') }}" {% else %} href="{{ path('smart_unity_question_reponse_add_question')}}"{% endif %}"><button class="bouton-repondre poser-question" >Posez votre question</button></a>
		</div>

<script>
    $("#sli-re").click(function() {
        if ($("#sli1").is(':visible')) {

            $('#sli1').fadeToggle(100, 'linear', function() {
                $('#sli2').fadeToggle(100);
            });
        }
    });
    $("#sli-de").click(function() {
        if ($("#sli2").is(':visible')) {
            $('#sli2').fadeToggle(100, 'linear', function() {
                $('#sli1').fadeToggle(100);
            });
        }
    });
</script>

<script>
//// Barre de filtre réponse ////
$(".chosen-select").chosen({disable_search_threshold: 10, allow_single_deselect: true});
</script>



{% endblock %}