{% extends "SmartUnityAppBundle::layoutLog.html.twig" %}
{% form_theme form_contact 'SmartUnityUtilisateurBundle:Form:form_register.html.twig' %}
{% block title %}Contactez-nous !{% endblock %}

{% block stylesheets %}
{% stylesheets filter='cssrewrite, yui_css'
				 'assets/css/formulaire.css' %}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block body %}


<div class="row">

    <form action="{{ path('smart_unity_app_bugPage') }}" {{ form_enctype(form_contact) }} method="POST">
        <div class="row text-center cookie-title">
            Signalez-nous un bug !
        </div>
        <div class="description">
            <p>Vous avez remarqué un bug? vous avez des idées d'améliorations? <br/>
                N'hésitez pas à nous les communiquer afin d'améliorer le fonctionnament et l'ergonomie de Smart'Unity et ce pour le bien de l'ensemble des utilisateurs de Smart'Unity, renseignez ce formulaire :</p>
        </div>

        <div class="erreur">
            <p>{{form_errors(form_contact.email)}}</p>
            <p>{{form_errors(form_contact.message)}}</p>
            <p>{{form_errors(form_contact.sujet)}}</p>
        </div>

        <fieldset class="contact-form">    
            <div class="row text-center cookie-title confirmation">{{confirmation }}</div>

            <div class="row premiere-ligne ">
                <div class="grille-1">{{form_label(form_contact.email)}}<span style="color: red;"> *</span></div>
                <div class="grille-2">{{form_widget(form_contact.email)}}</div>
            </div> 
            <div class="row">
                <div class="grille-1">{{form_label(form_contact.sujet)}}<span style="color: red;"> *</span></div>
                <div class="grille-2">{{form_widget(form_contact.sujet)}}</div>
            </div> 
            <div class="row">
                <div class="grille-1">{{form_label(form_contact.message)}}<span style="color: red;"> *</span></div>
                <div class="grille-2 text-message-contact">{{form_widget(form_contact.message, { 'attr': {'class': 'form-textarea textarea-register textarea-contact'} })}}</div>
            </div>  
            <div class="cent-h bouton-bas-block">	
                <button type="submit" class="bouton-envoyer">Envoyer</button>
            </div> 
        </fieldset>
    </form>
			{{ form_end(form_contact)}}

</div>


{% endblock %}

