<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Additional meta content -->
    {% block meta %}{% endblock %}



        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/layout2.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/chosen/chosen.min.css') }}">


        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'> 

        <!-- Additional styleSheets -->
        <script>
            function goLogIn() {
                window.location.href = "{{ path('_security_check') }}";
            }

            function onFbInit() {
                if (typeof (FB) != 'undefined' && FB != null) {
                    FB.Event.subscribe('auth.statusChange', function(response) {
                        if (response.session || response.authResponse) {
                            setTimeout(goLogIn, 500);
                        } else {
                            window.location.href = "{{ path('_security_logout') }}";
                        }
                    });
                }
            }

        </script>

{% block stylesheets %}{% endblock %}



        <!-- Bootstrap core and general JavaScript files -->
        <script src="{{ asset('assets/js/jquery-1.10.2.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
{#        <script src="{{ asset('assets/js/Fb-login.js') }}"></script>#}

        <!-- Additional Javascript src -->

{% block initJS %}{% endblock %}


    </head>
    <!-- bg body -->
    <body class="bg" >
{{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}

        <nav class="navbar navbar-inverse navbar-fixed-top menu-bg" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="container" style="padding-left: 0; padding-right: 0;">

                <a type="button" class="fixed-right-corner" id="loupe" ><span class="glyphicon glyphicon-search"></span></a>
                <div id="top-barre-recherche">
                    <form action="{{ path('smart_unity_question_reponse_search_questions') }}" method="GET">
                        <input type="text" name="q" id="q" value="{% if requete is defined %}{{requete}}{% endif %}" class="top-barre-recherche-input" placeholder="Entrez votre question...">
                        <input type="hidden" name="p" id="p" value="1" class="form-control">
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1" style="padding-left: 0; padding-right: 0;">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <a class="navbar-brand" href="#"><div class="hid-home"><p class="cook-head">Smart'Unity</p></div></a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li {% if app.request.attributes.get('_route') == 'smart_unity_question_reponse_homepage'
                             or app.request.attributes.get('_route') == 'smart_unity_question_reponse_list_of_question'
                             or app.request.attributes.get('_route') == 'smart_unity_question_reponse_search_questions'
                             or app.request.attributes.get('_route') == 'smart_unity_question_reponse_display_reponse'
                       %}class="active"{% endif %}><a href="{{ path('smart_unity_question_reponse_homepage') }}" class="menu-pad">SMART'SOLUTIONS</a></li>
                                <li {% if app.request.attributes.get('_route') == 'smart_unity_boutique_homepage' %}class="active"{% endif %}><a href="#" class="menu-pad">BOUTIQUE CADEAUX</a></li>
                                <li><a href="#" class="menu-pad">BLOG</a></li>
                            </ul>
                            <ul id="comment-marche-connecter" class="nav navbar-nav navbar-right">

                      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}


                                <li class="logo2">
                                    <a href="#">
{#                                        <img src="{{ asset('assets/img/logo-iphon.png') }}"/>#}
                                        <p class="red-dot">1</p>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }}<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('smart_unity_utilisateur_homepage') }}">Mon compte</a></li>
                                        <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                                    </ul>
                                </li>

            {% else %}
                                <li><a href="#" class="menu-pad">COMMENT CA MARCHE?</a></li>
                                <li>
                                    <a href="{{ path('fos_user_security_login') }}" id="clic-pop">
                                        Se connecter
                                    </a>            
                                    <div>
                                        <div class="connection" id="pop">
                                            <div class="connection-triangle-content">
                                                <div class="connection-triangle" ></div>
                                                <div class="connection-triangle-border"></div>
                                                <div class="panel-body logo2">
                                                    <form action="{{ path("fos_user_security_check") }}" method="post">
                                                        <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}" />
                                                        <fieldset>
                                                            <div class="form-group">
                                                                <input class="form-control" style="background-color: #FFF; color:#666" placeholder="pseudo" type="text" id="username" name="_username" value="{{ last_username }}" required="required">        
                                                            </div>
                                                            <div class="form-group">
                                                                <input class="form-control" style="background-color: #FFF; color:#666" placeholder="Password" type="password" id="password" name="_password" required="required">
                                                            </div>
                                                            <div style="margin-top: -14px;"><a href="{{ path("fos_user_resetting_request") }}">Mot de passe oublié?</a></div>
                                                            <div class="checkbox souvenir-de-moi" >
                                                                <label>
                                                                    <input id="remember_me" type="checkbox"  name="_remember_me" value="on" > Se souvenir de moi
                                                                </label>
                                                            </div>
                                                            <input class="btn btn-lg btn-success btn-block" id="_submit" name="_submit" type="submit" value="Login" style="line-height:14px">
                                                            <div class="pad-l">{{ facebook_login_button({'autologoutlink': false}) }}</div>
                                                            <a href="{{ path('fos_user_registration_register') }} ">
                                                                <p  style=" margin-top: 20px;">S'inscire</p>
                                                            </a>

                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>


                                <script>
//Responsivité des rubriques de la navbar
            window.onresize = function() {
                initDisplay();
            };





//Initialisation du document
            $(document).ready(function() {
                initDisplay();
            });

            function initDisplay() {

                if ($(window).width() > 768 && $(window).width() < 992) {
                    $("#comment-marche-connecter").attr('class', 'nav navbar-nav');

                }
                else
                    $("#comment-marche-connecter").attr('class', 'nav navbar-nav navbar-right');

                if ($(window).width() > 768)
                {

                    //Affichage de la barre de recherche
                    $("#loupe").show();
                    $("#loupe, #top-barre-recherche").click(function(event) {
                        $("#pop").hide();
                        $("#top-barre-recherche").slideDown(200);
                        event.stopPropagation();
                    });

                    //Affichage du panel de connexion
                    $('#clic-pop').attr('href', '#');
                    $("#clic-pop,#pop").click(function(event) {
                        $("#top-barre-recherche").hide();
                        $("#pop").slideDown();
                        event.stopPropagation();

                    });

                    //Disparition des panels connexion et recherche lors d'un click à coté       
                    $(document).click(function(event) {
                        $("#pop").hide();
                        $("#top-barre-recherche").hide();
                    });

                }
                else {
                    $("#loupe").hide();
                }

            }
                                </script> 
            {% endif %}
                            </ul>

                        </div><!-- /.navbar-collapse -->
                    </div>
                </div>
            </div>
        </nav>

        <!-- end nav -->
        <div id="cont"></div>
        <div style="min-height: 680px">

            <div class="container" style="padding-left: 0; padding-right: 0;">

{% if  app.request.attributes.get('_route')  == 'smart_unity_app_homepage' %}                   

                <div class="row titre-smartunity">
                    <div class="col-md-offset-1 col-md-6"><img src="{{ asset('assets/img/logo-su1.png') }}"  class="img-responsive logo cent-h"/></div>
                    <div class="col-md-5">




                    </div>

                </div>
{% endif %}                
                <div class="row">
                    <div class="col-md-10 col-md-offset-1"  style="padding-left: 0; padding-right: 0;">

                        <div class="container cadre-general">






                            <!-- head -->




                            <!-- BODY -->

{% block body %}


{% endblock %}

                        </div>
                    </div>


                </div>
            </div>

        </div>

        <!-- end BODY-->   

        <!-- footer --> 
        <!-- footer separation --> 	

        <!-- footer separation fin --> 
        <div class="foot-sep">
            <div class="container"> 
                <div class="row footer" >
                    <div  style="display:inline-block;">
                        <span class="cook-foot">Suivez nous :</span>
                        <a href="http://facebook.com/smartunityy"><img src="{{ asset('assets/img/logo-f-f.png') }}" class="foot-im"/></a>
                        <a href="http://twitter.com/Smart_unity"><img src="{{ asset('assets/img/logo-t-f.png') }}" class="foot-im"/></a>
                        <a href="http://plus.google.com/103420400147208470743"><img src="{{ asset('assets/img/logo-g-f.png') }}" class="foot-im"/></a>
                    </div>
                    <div class="footer-text" style="display:inline-block;">
                        <a href="{{ path('smart_unity_app_aproposPage') }} ">A propos de Smart'Unity</a>
                        <a href="{{ path('smart_unity_app_conditionsPage') }}">Conditions generales d'utilisation</a>
                        <a href="#">Publicité</a>
                        <a href="#">Copyright Smart'Unity</a>
                    </div>

                </div> 
            </div>
        </div>

{% block modal %}{% endblock %}

        <!-- call Javascript & scripts -->
{% block callJS %}{% endblock %}


    </body>
</html>