<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

<!-- Additional meta content -->
    {% block meta %}{% endblock %}



<!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/layout.css') }}">

<!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'> 

<!-- Additional styleSheets -->
{% block stylesheets %}{% endblock %}



<!-- Bootstrap core JavaScript  -->
    <script src="{{ asset('assets/js/jquery-1.10.2.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>

<!-- Additional Javascript src -->
{% block initJS %}{% endblock %}


</head>

 
<!-- bg body -->
<body style="background-color:#334A64">
<!-- head -->

 <div class="container bg">
 
  <div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-offset-1 col-md-6"><img src="{{ asset('assets/img/logo-su.png') }}"  class="img-responsive logo cent-h"/></div>
      <div class="col-md-5 cent-h">

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}


          <div class="cent-h logo2">
            <a href="#" class=" pos-re valign-col-all">
                <img src="{{ asset('assets/img/logo-iphon.png') }}"/>
                <p class="red-dot">1</p>
            </a>
            <a href="{{ path('fos_user_profile_show') }}" class="valign-col-all pad-l"><p>{{ app.user.username }}</p></a>
          </div>
           <a href="{{ path('fos_user_security_logout') }}"  class="valign-col-all pad-l" ><p>Déconnexion</p></a>


            {% else %}


<!--               <a href="{{ path('fos_user_security_login') }}" class="valign-col-all pad-l">
                  <p>Connexion</p>
              </a>  -->

            
            <div class="col-md-5 cent-h">
              <div class="cent-h logo2">
                <div>
                  <a href="#" class="valign-col-all pad-l" id="clic-pop">
                    <p>Connection</p>
                  </a>
                  <a href="{{ path('fos_user_registration_register') }}" class="valign-col-all pad-l">
                    <p>S'inscrire</p>
                  </a>
                  <div class="connection" id="pop">
                    <div class="connection-triangle-content">
                      <div class="connection-triangle" ></div>
                      <div class="connection-triangle-border"></div>
                      <div class="panel-body">
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                          <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}" />
                            <fieldset>
                            <div class="form-group">
                              <input class="form-control" style="background-color: #FFF; color:#666" placeholder="pseudo" type="text" id="username" name="_username" value="{{ last_username }}" required="required">        
                            </div>
                            <div class="form-group">
                              <input class="form-control" style="background-color: #FFF; color:#666" placeholder="Password" type="password" id="password" name="_password" required="required">
                            </div>
                            <div class="checkbox">
                              <label>
                                <input id="remember_me" type="checkbox"  name="_remember_me" value="on"> Se souvenir de moi
                                    <a href="{{ path("fos_user_resetting_request") }}">Mot de passe oublié?</a>
                              </label>
                            </div>
                              <input class="btn btn-lg btn-success btn-block" id="_submit" name="_submit" type="submit" value="Login" style="line-height:14px">
                          </fieldset>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <script>
       $( "#clic-pop,#pop" ).click(function(event) {
        $( "#pop" ).fadeIn();
             event.stopPropagation();
                                        });
       $( document).click(function(event) {
        $( "#pop" ).hide();
       
      
                                        });
        </script>


            {% endif %}
            

    </div>
  
  </div>
  </div>
  </div>
  

<!-- /.navbar-collapse -->
  <div class="row">
    <div class="col-md-12 menu-bg">
      <nav class="navbar navbar-inverse" role="navigation">
         <!--navbar- mobile -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                   <a class="navbar-brand" href="#"><div class="hid-home"><span class="glyphicon glyphicon-home" style="font-size:24px;
  font-weight:bold;"></span><p class="cook-head">Smart'Unity</p></div></a>
                    
                  </div>
    <!--navbar- standar -->
                  <div class="collapse navbar-collapse navbar-ex1-collapse menu-mar" >
                    <ul class="nav navbar-nav">
                      <li><a href="{{ path('smart_unity_app_homepage') }}"><span class="glyphicon glyphicon-home" style="font-size:24px;
  font-weight:bold;"></span></a></li>
                      <li class="active"><a href="{{ path('smart_unity_question_reponse_homepage') }}"><p class="menu-pad">SMART'SOLUTION</p></a></li>
                      <li ><a href="#"><p class="menu-pad">BOUTIQUE</p></a></li>
                      <li ><a href="#"><p class="menu-pad">SMART'CAFE</p></a></li>
                    </ul>
                  </div>
         <!--navbar- standar fin --> 
      </nav>
    </div>
  </div>
<!-- end nav -->

<div class="row">
<div class="col-md-12">


<!-- BODY -->

{% block body %}


{% endblock %}

</div>
</div>

<!-- end BODY-->   

<!-- footer --> 
	<!-- footer separation --> 	
  <div class="row">
    <div class="col-md-12 foot-sep">
    </div>
  </div>
  <!-- footer separation fin -->  
  <div class="row valign-row footer"  style="padding-top:20px; padding-bottom:20px; text-align:center">
    <div class="col-md-5 valign-col col-mar"><p class="cook-foot valign-col">Suivez nous:</p><a href="#"><img src="{{ asset('assets/img/logo-f-f.png') }}" class="foot-im"/></a><a href="#"><img src="{{ asset('assets/img/logo-t-f.png') }}" class="foot-im"/></a><a href="#"><img src="{{ asset('assets/img/logo-g-f.png') }}" class="foot-im"/></a>
          </div>
         <div class="col-md-7 valign-col"><a href="#"><p>A propos de smart'unity</p></a><a href="#"><p>Conditions generales d'utilisation</p></a><a href="#"><p>Publicité</p></a><a href="#"><p>Copy right smart'unity</p></a>
          </div>
        
  </div>
<!-- end footer --> 

</div>

<!-- call Javascript & scripts -->
{% block callJS %}{% endblock %}


</body>
</html>
