<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Additional meta content -->
    {% block meta %}{% endblock %}

        <!-- Bootstrap core CSS -->
{#        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap2.css') }}">#}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/chosen/chosen.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/layout.css') }}">

{% block stylesheets %}{% endblock %}

        <!-- Bootstrap core and general JavaScript files -->
        <script src="{{ asset('assets/js/jquery-1.10.2.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/chosen/chosen.jquery.js') }}"></script>

        <!-- Additional Javascript src -->
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

{% block initJS %}{% endblock %}

<script>
    function goLogIn(){
        window.location.href = "{{ path('_security_check') }}";
    }

    function onFbInit() {
        if (typeof(FB) != 'undefined' && FB != null ) {              
            FB.Event.subscribe('auth.statusChange', function(response) {
                if (response.session || response.authResponse) {
                    setTimeout(goLogIn, 500);
                } else {
                    window.location.href = "{{ path('_security_logout') }}";
                }
            });
        }
    }
</script>


    </head>
    <!-- bg body -->
    <body class="bg" >
        
{{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}

        <nav class="navbar navbar-inverse navbar-fixed-top menu-bg" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="container" style="padding-left: 0; padding-right: 0;">

                <a type="button" class="fixed-right-corner" id="loupe" ><span class="glyphicon glyphicon-search"></span></a>
                <div spellcheck="false" id="top-barre-recherche">
                    <form action="{{ path('smart_unity_question_reponse_demander_questions') }}" method="GET">
                        <input type="text" name="q" id="q" class="top-barre-recherche-input" placeholder="Entrez votre question...">
                        <input type="hidden" name="p" id="p" value="1" class="form-control">
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1" style="padding-left: 0; padding-right: 0;">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Rechercher</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <a class="navbar-brand" href="#"><div class="hid-home"><p class="cook-head">Smart'Unity</p></div></a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                            	<li {% if app.request.attributes.get('_route') == 'smart_unity_app_homepage'%} class="fleur-active" {% else %} class="fleur-inactive" {% endif %}><a href={{ path('smart_unity_app_homepage') }}><img onmouseover="fleurNavHover(this)" onmouseout="fleurNavUnHover(this)" src="{{ asset('assets/img/logo-su-nb-bleue.png') }}"/></a></li>
                                <li {% if app.request.attributes.get('_route') == 'smart_unity_question_reponse_homepage'
                             or  app.request.attributes.get('_route') == 'smart_unity_question_reponse_list_of_question'
                             or app.request.attributes.get('_route') == 'smart_unity_question_reponse_demander_questions'
                             or app.request.attributes.get('_route') == 'smart_unity_question_reponse_display_reponse'
                       %}class="active"{% endif %}><a href="{{ path('smart_unity_question_reponse_homepage') }}" class="menu-pad">SMART'SOLUTIONS</a></li>
                                <li {% if app.request.attributes.get('_route') == 'smart_unity_boutique_homepage' %}class="active"{% endif %}><a href="#" class="menu-pad">BOUTIQUE CADEAUX</a></li>
                                <li><a href="http://blog.smartunity.fr" class="menu-pad">BLOG</a></li>
                            </ul>
                            <ul id="comment-marche-connecter" class="nav navbar-nav navbar-right">

                      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }}<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('smart_unity_utilisateur_homepage') }}">Mon compte</a></li>
                                        <li><a href="{{ path('smart_unity_app_descriptionpage') }}">Comment ça marche?</a></li>
                                        <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>

                                    </ul>
                                </li>

            {% else %}
                                <li><a href="{{ path('smart_unity_app_descriptionpage') }}" class="menu-pad">COMMENT ÇA MARCHE?</a></li>
                                <li>
                                    <a href="{{ path('fos_user_security_login') }}" class="menu-pad" id="clic-pop" >
                                        Se connecter
                                    </a>      
 </li>
            {% endif %}
                            </ul>

                        </div><!-- /.navbar-collapse -->
                    </div>
                </div>
            </div>
        </nav>

        <!-- end nav -->
        
{# modal de connexion  #}
<div class="modal fade" id="modalConnexion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Connexion</h4>
      </div>
      <div class="modal-body">
 <div class="panel-body logo2">
                                                    <form action="{{ path("fos_user_security_check") }}" method="post">
                                                        <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}" />
                                                        <fieldset>
                                                            <div class="form-group">
                                                                <input class="form-control username-input" style="background-color: #FFF; color:#666" placeholder="pseudo" type="text" id="username" name="_username" value="{{ last_username }}" required="required">        
                                                            </div>
                                                            <div class="form-group">
                                                                <input class="form-control" style="background-color: #FFF; color:#666" placeholder="Password" type="password" id="password" name="_password" required="required">
                                                            </div>
                                                            <div style="margin-top: -14px;"><a href="{{ path("fos_user_resetting_request") }}">Mot de passe oublié ?</a></div>
                                                            <div class="checkbox souvenir-de-moi" >
                                                                <label>
                                                                    <input id="remember_me" type="checkbox"  name="_remember_me" value="on" > Se souvenir de moi
                                                                </label>
                                                            </div>
                                                            <input class="btn btn-lg bouton-login" id="_submit" name="_submit" type="submit" value="Se connecter" style="line-height:14px">
                                                            <div class="pad-l">{{ facebook_login_button({'autologoutlink': false, 'size': 'large', 'label': "Se connecter", showFaces: 'True'}) }}</div>
                                                            <a href="{{ path('fos_user_registration_register') }} ">
                                                                <input class="btn btn-lg bouton-login" id="_submit" name="_submit" type="submit" value="S'inscrire" style="line-height:14px">
                                                            </a>

                                                        </fieldset>
                                                    </form>
                                             </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
        
        
        <div id="cont"></div>
        <div id="main-content">

            <div class="container" style="padding-left: 0; padding-right: 0;">

{% if  app.request.attributes.get('_route')  == 'smart_unity_app_homepage' %}                   

                <div class="row titre-smartunity">
                    <div class="col-md-offset-1 col-md-6"><img src="{{ asset('assets/img/logo-su1.png') }}"  class="img-responsive logo"/></div>
                    <div class="col-md-5">




                    </div>

                </div>
{% endif %}                
                <div class="row">
                    <div class="col-md-10 col-md-offset-1"  style="padding-left: 0; padding-right: 0;">

                        <div class="container cadre-general">






                            <!-- head -->




                            <!-- BODY -->

{% block body %}


{% endblock %}

                        </div>
                        <div class="espace-vide-pour-cadre-repondre"></div>
                        
                    </div>


                </div>
            </div>

        </div>

        <!-- end BODY-->   

        <!-- footer --> 
        <!-- footer separation --> 	

        <!-- footer separation fin --> 
        <div class="foot-sep">
            <div class="container"> 
                <div class="row footer" >
                    <div  style="display:inline-block;">
                        <span class="cook-foot">Suivez nous :</span>
                        <a href="http://facebook.com/smartunityy"><img alt="facebook"  onmouseover="logoFacebookHover(this)" onmouseout="logoFacebookUnHover(this)" src="{{ asset('assets/img/logo-facebook-footer-bleu.png') }}" class="foot-im"/></a>
                        <a href="http://twitter.com/Smart_unity"><img alt="twitter"  onmouseover="logoTwitterHover(this)" onmouseout="logoTwitterUnHover(this)" src="{{ asset('assets/img/logo-twitter-footer-bleu.png') }}" class="foot-im"/></a>
                        <a href="http://plus.google.com/103420400147208470743"><img alt="google" onmouseover="logoGoogleHover(this)" onmouseout="logoGoogleUnHover(this)" src="{{ asset('assets/img/logo-google-footer-bleu.png') }}" class="foot-im"/></a>
                    </div>
                    <div class="footer-text" style="display:inline-block;">
                        <a href="{{ path('smart_unity_app_contactPage') }} ">Nous contacter</a>
                        <a href="{{ path('smart_unity_app_aproposPage') }} ">A propos de Smart'Unity</a>
                        <a href="{{ path('smart_unity_app_conditionsPage') }}">Conditions générales d'utilisation</a>
                        <a href="#">Partenariats</a>
                        <p class="copyright">Copyright © 2014 Smart'Unity | Tous droits réservés</p>
                    </div>

                </div> 
            </div>
        </div>

{% block modal %}{% endblock %}

     <script>
//logo réseau sociaux footer
	function logoFacebookHover(e) {
        var cheminLogoFacebookBlanc = '{{ asset('assets/img/')}}';
        $(e).attr('src', cheminLogoFacebookBlanc + 'logo-facebook-footer-blanc.png');
        }
    
    function logoFacebookUnHover(e) {
        var cheminLogoFacebookBleu = '{{ asset('assets/img/')}}';
        $(e).attr('src', cheminLogoFacebookBleu + 'logo-facebook-footer-bleu.png');
        }
        
    function logoTwitterHover(e) {
        var cheminLogoTwitterBlanc = '{{ asset('assets/img/')}}';
        $(e).attr('src', cheminLogoTwitterBlanc + 'logo-twitter-footer-blanc.png');
        }
    
    function logoTwitterUnHover(e) {
        var cheminLogoTwitterBleu = '{{ asset('assets/img/')}}';
        $(e).attr('src', cheminLogoTwitterBleu + 'logo-twitter-footer-bleu.png');
        }
        
    function logoGoogleHover(e) {
        var cheminLogoTwitterBlanc = '{{ asset('assets/img/')}}';
        $(e).attr('src', cheminLogoTwitterBlanc + 'logo-google-footer-blanc.png');
        }
    
    function logoGoogleUnHover(e) {
        var cheminLogoGoogleBleu = '{{ asset('assets/img/')}}';
        $(e).attr('src', cheminLogoGoogleBleu + 'logo-google-footer-bleu.png');
        }
        
//logo fleur hover navbar
	function fleurNavHover(e) {
        var cheminFleur = '{{ asset('assets/img/')}}';
        if ($(e)[0] !== $('.fleur-active a img')[0]) {
        $(e).attr('src', cheminFleur + 'logo-su-nb.png');
    }
        }
    
    function fleurNavUnHover(e) {
        var cheminFleur = '{{ asset('assets/img/')}}';
                if ($(e)[0] !== $('.fleur-active a img')[0]) {
        $(e).attr('src', cheminFleur + 'logo-su-nb-bleue.png');
                }              
        }
     
//Responsivité des rubriques de la navbar
            window.onresize = function() {
                initDisplay();
            };

//Initialisation du document
            $(document).ready(function() {
                initDisplay();
            });

            function initDisplay() {

	//Determination de lahauteur minimale d'une page
var minimumHeight = $(window).height()-$('.bg').css('padding-top').replace("px", "") - $('.foot-sep').css('margin-top').replace("px", "") - $('.foot-sep').height();

$("#main-content").css('min-height', minimumHeight);
                if ($(window).width() > 768 && $(window).width() < 992) {
                    $("#comment-marche-connecter").attr('class', 'nav navbar-nav');

                }
                else
                    $("#comment-marche-connecter").attr('class', 'nav navbar-nav navbar-right');

                if ($(window).width() > 768)
                {

                    //Affichage de la barre de recherche
                    $("#loupe").show();
                    $("#loupe, #top-barre-recherche").click(function(event) {
                        $("#pop").hide();
                        $("#top-barre-recherche").slideDown(200);
                        event.stopPropagation();
                    });

                    //Affichage du panel de connexion
                    $('#clic-pop').attr('href', '#');
                    $("#clic-pop,#pop").click(function(event) {
                        $("#top-barre-recherche").hide();
{#                         $("#pop").slideDown(); #}
                        $(".modal.fade").modal('show');
                        event.stopPropagation();

                    });

                    //Disparition des panels connexion et recherche lors d'un click à coté       
                    $(document).click(function(event) {
                        $("#pop").hide();
                        $("#top-barre-recherche").hide();
                    });

                }
                else {
                    $("#loupe").hide();
                }

///Couleur de la fleur de la navbar 
var cheminFleur = '{{ asset('assets/img/')}}';
        $('.fleur-active a img').attr('src', cheminFleur + 'logo-su-nb.png');
        
            }
                                </script>        
        <!-- call Javascript & scripts -->
{% block callJS %}{% endblock %}


    </body>
</html>