{% extends "SmartUnityAppBundle::layout.html.twig" %}

{% block initJS %}
	<script src="{{ asset('assets/js/bootstrap-paginator.js') }}"></script>
{% endblock %}





{% block body %}
<p> {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
Bonjour {{ app.user.username}} 
{% endif %} </p> 

<p>Liste des Questions</p>
<br/>
<div id="listeQuestions">
	{% for question in listeQuestions %}
		<p>{{ question.slug }}</p>
	{% endfor %}
</div>
<div>
	<ul id="pages" class="pagination">
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
	</ul>
</div>
{% endblock %}





{% block callJS %}
<script language="javascript">

$(document).ready(function(){

	$('#pages').bootstrapPaginator({
		currentPage: {{ page }},
		totalPages: {{ nbPages }},
		bootstrapMajorVersion: 3,
		onPageClicked: function(pEvent, pOriginalEvent, pType, pPage){
			$.getJSON('{{ path('smart_unity_question_reponse_ajax_get_questions') }}/{{ type }}/' + pPage + '/{{ nbParPage }}', function(donnees){
			var content='';
			if(donnees[0]['page']==pPage){
				donnees.shift();
				donnees.forEach(function(pEntry){
					content += '<p>' + pEntry['slug'] + '</p>';
				});
				$('#listeQuestions').html(content);
			}else{
				$('#listeQuestions').html('<div class="alert alert-danger">Erreur de communication avec le serveur</div>');
			}
		})
		}
	});

});

</script>
{% endblock %}