{% extends "SmartUnityAppBundle::layout.html.twig" %}

{% block stylesheets %}
<link href="{{ asset('assets/css/question.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block initJS %}
	<script src="{{ asset('assets/js/bootstrap-paginator.js') }}"></script>
{% endblock %}




{% block body %}

<!-- bouton radio -->
     <div class="row">
    	<div class="col-md-6 col-md-offset-3" >
                <div class="text-center">
                <div class="btn-group" data-toggle="buttons" style="margin-top:30px">
                  <label class="btn bouton-radio active">
                    <input type="radio" name="options" id="option1"><p class="cook-btn">Demander</p>
                  </label>
                  <label class="btn bouton-radio">
                    <input type="radio" name="options" id="option2"><p class="cook-btn">Répondre</p>
                  </label>
                </div>
                </div>
        </div>
    </div>
    <!-- bouton radio fin -->
    <!-- logo plus texte -->
    <div class="row">
    	<div class="col-md-6 col-md-offset-3 text-center" ><div class="cent-h mar" style="margin-top:20px"><img src="{{ asset('assets/img/logo-titre.png') }}" class="valign-col-all" style="margin-right:20px" /><p class="valign-col-all cok-recherche">Smart'Recherches</p></div>
        </div>
    </div>
    <!-- logo plus texte fin -->
    <!-- recherche -->
    <div class="row">
        <div class="col-md-6 col-md-offset-3 ">                
                <div class="input-group" style="margin-top:30px">
                  	<input type="text" class="form-control">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" ></span></button>
                  </span>
                </div>
        </div>
    </div>
    <!-- recherche fin-->
    <!-- nav div-->
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="grille-content-2">
                <!-- nav div menu-->
            	<div class="collapse-menu">
                <ul class="nav nav-tabs" id="myTab">
                  <li {% if type=='onFire' %}class="active"{% endif %}><a href="{{ path('smart_unity_question_reponse_list_of_question', {type: 'onFire', page: '1'}) }}" data-toggle="tab" id="onFire-tab">On Fire</a></li>
                  <li {% if type=='last' %}class="active"{% endif %}><a href="{{ path('smart_unity_question_reponse_list_of_question', {type: 'last', page: '1'}) }}" data-toggle="tab" id="last-tab">Derni&egrave;res Questions</a></li>
                  <li {% if type=='reponses' %}class="active"{% endif %}><a href="{{ path('smart_unity_question_reponse_list_of_question', {type: 'reponses', page: '1'}) }}" data-toggle="tab" id="reponses-tab">Questions r&eacute;solues</a></li>
                </ul>
                </div>
                <!-- nav div menu fin-->
                <!-- contenue 1-->
                <div class="tab-content">
                  <div class="tab-pane fade in out{% if type=='onFire' %} active{% endif %}" id="onFire">
                  				<!-- accordion general-->
                               	<div class="panel-group" id="accordion-onFire">
                                {% if type=='onFire' %}
                                  {% for question in listeQuestions %}

                               		<div class="panel panel-default fade in out">
                                    	<!-- contenue visible-->
                               			<div class="panel-heading">
                               				<h4 class="panel-title">
                                            	<!-- rond pts-->
                               					<div class="grille-1"><div class="rond-point"><p class="txt-rond">{{question.remuneration}} pts</p></div></div>
                                                <!-- rond pts fin-->
                                                <!-- describ question-->
                               					<a data-toggle="collapse" data-parent="#accordion-onFire" href="#collapse{{loop.index}}">
                               					<div class="grille-2" ><p>{{question.sujet}}</p></div>
                               					</a>
                                                <!-- describ question fin-->
                                                <!-- nb réponses vues-->
                               					<div class="grille-3"><p>{{question.nb_reponses}} réponses</p>XXX vues<p></p>
                               					</div>
                                                <!-- nb réponses vues fin-->
                                                <!-- bouton rep -->
                               					<div class="grille-4"><button type="button" class="btn bouton-repondre">Répondre</button>
                              					</div>
                                                <!-- bouton rep fin-->
                                                <!-- bouton +-->
                               					<div class="grille-5"><p>?? soutiens</p><button type="button" class="bouton-soutient">
                                                                                         <p class="p-s">+</p></button>
                               					</div>
                                                <!-- bouton + fin-->
                               				</h4>                           
                               			</div>
                                        <!-- contenue visible fin-->
                                        <!-- contenue caché-->
                                   		<div id="collapse{{loop.index}}" class="panel-collapse collapse">
                                        	<div class="panel-body">
                                            <p>{{question.description}}</p>
                                            <p>{{question.best_reponse}}</p>
                                          </div>
                                    	</div>
                                 	</div>
                                    <!-- contenue caché fin-->
                                  {% endfor %}
                                {% endif %}
                             </div><!-- accordion general fin-->
                                           
                  </div><!-- contenue 1 fin--> 
                  <!-- contenue 2-->
                  <div class="tab-pane fade in out{% if type=='last' %} active{% endif %}" id="last">
                            <div class="panel-group" id="accordion-last">
                            {% if type=='last' %}
                                  {% for question in listeQuestions %}

                                  <div class="panel panel-default fade in out">
                                      <!-- contenue visible-->
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                              <!-- rond pts-->
                                        <div class="grille-1"><div class="rond-point"><p class="txt-rond">{{question.remuneration}} pts</p></div></div>
                                                <!-- rond pts fin-->
                                                <!-- describ question-->
                                        <a data-toggle="collapse" data-parent="#accordion-last" href="#collapse{{loop.index}}">
                                        <div class="grille-2" ><p>{{question.sujet}}</p></div>
                                        </a>
                                                <!-- describ question fin-->
                                                <!-- nb réponses vues-->
                                        <div class="grille-3"><p>{{question.nb_reponses}} réponses</p>XXX vues<p></p>
                                        </div>
                                                <!-- nb réponses vues fin-->
                                                <!-- bouton rep -->
                                        <div class="grille-4"><button type="button" class="btn bouton-repondre">Répondre</button>
                                        </div>
                                                <!-- bouton rep fin-->
                                                <!-- bouton +-->
                                        <div class="grille-5"><p>?? soutiens</p><button type="button" class="bouton-soutient">
                                                                                         <p class="p-s">+</p></button>
                                        </div>
                                                <!-- bouton + fin-->
                                      </h4>                           
                                    </div>
                                        <!-- contenue visible fin-->
                                        <!-- contenue caché-->
                                      <div id="collapse{{loop.index}}" class="panel-collapse collapse">
                                          <div class="panel-body">
                                            <p>{{question.description}}</p>
                                            <p>{{question.best_reponse}}</p>
                                          </div>
                                      </div>
                                  </div>
                                    <!-- contenue caché fin-->
                                  {% endfor %}
                                {% endif %}
                              </div>
                          </div>
                  <div class="tab-pane fade in out{% if type=='reponses' %} active{% endif %}" id="reponses">
                          <div class="panel-group" id="accordion-reponses">
                          {% if type=='reponses' %}
                                  {% for question in listeQuestions %}

                                  <div class="panel panel-default fade in out">
                                      <!-- contenue visible-->
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                              <!-- rond pts-->
                                        <div class="grille-1"><div class="rond-point"><p class="txt-rond">{{question.remuneration}} pts</p></div></div>
                                                <!-- rond pts fin-->
                                                <!-- describ question-->
                                        <a data-toggle="collapse" data-parent="#accordion-reponses" href="#collapse{{loop.index}}">
                                        <div class="grille-2" ><p>{{question.sujet}}</p></div>
                                        </a>
                                                <!-- describ question fin-->
                                                <!-- nb réponses vues-->
                                        <div class="grille-3"><p>{{question.nb_reponses}} réponses</p>XXX vues<p></p>
                                        </div>
                                                <!-- nb réponses vues fin-->
                                                <!-- bouton rep -->
                                        <div class="grille-4"><button type="button" class="btn bouton-repondre">Répondre</button>
                                        </div>
                                                <!-- bouton rep fin-->
                                                <!-- bouton +-->
                                        <div class="grille-5"><p>?? soutiens</p><button type="button" class="bouton-soutient">
                                                                                         <p class="p-s">+</p></button>
                                        </div>
                                                <!-- bouton + fin-->
                                      </h4>                           
                                    </div>
                                        <!-- contenue visible fin-->
                                        <!-- contenue caché-->
                                      <div id="collapse{{loop.index}}" class="panel-collapse collapse">
                                          <div class="panel-body">
                                            <p>{{question.description}}</p>
                                            <p>{{question.best_reponse}}</p>
                                          </div>
                                      </div>
                                  </div>
                                    <!-- contenue caché fin-->
                                  {% endfor %}
                                {% endif %}
                              </div>
                        </div>
                </div><!-- nav div fin--> 

                <div style="text-align:center; cursor:pointer">
                    <ul id="pages" class="pagination-lg">
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                  </ul>
                </div>

		</div><!-- grille fin-->
    </div><!-- col fin-->
</div>  <!-- row fin-->

{% endblock %}





{% block callJS %}

<script language="javascript">

//////////////////
////// FONCTIONS
//////////////////


function generateContent(pEntry, i){
  return '                                   <div class="panel panel-default"> \
                                            <div class="panel-heading"> \
                                              <h4 class="panel-title"> \
                                                <div class="grille-1"><div class="rond-point"><p class="txt-rond">' + pEntry['remuneration'] + ' pts</p></div></div> \
                                                <a data-toggle="collapse" data-parent="#accordion-' + type + '" href="#collapse' + i + '"> \
                                                <div class="grille-2" ><p>' + pEntry['sujet'] + '</p></div></a> \
                                                <div class="grille-3"><p>' + pEntry['nb_reponses'] + 'réponses</p>XXX vues<p></p></div> \
                                                <div class="grille-4"><button type="button" class="btn bouton-repondre">Répondre</button> </div> \
                                                <div class="grille-5"><p>?? soutiens</p><button type="button" class="bouton-soutient"><p class="p-s">+</p></button></div> \
                                              </h4> \
                                            </div> \
                                              <div id="collapse' + i + '" class="panel-collapse collapse"> \
                                                  <div class="panel-body"><p>' + pEntry['description'] + '</p><p>' + pEntry['best_reponse'] + '</p></div> \
                                              </div> \
                                          </div>';
}

function MaJPagination(){
  if( nbPages[type] == null ){ //Si le tab est vide....

        $.getJSON('{{ path('smart_unity_question_reponse_ajax_get_questions') }}/' + type + '/1/' + nbParPage, function(donnees){
              var content='';
              if(donnees[0]['page']==1 && donnees[0]['type']==type && donnees[0]['nbParPage']==nbParPage){

                //Définition d'un nouveau paginator adapté...
                nbPages[type] = donnees[0]['nbPages'];

                options.currentPage=1;
                options.totalPages=nbPages[type];
                $('#pages').bootstrapPaginator(options);

                donnees.shift(); //On supprime la ligne de check du JSON

                //Puis on remplit le nouveau tab
                donnees.forEach(function(pEntry, i){
                  content += generateContent(pEntry, i);
                }); //Generation du code

                //Affichage du nouveau contenu dasn le tab, et fadeIn
                $('#accordion-' + type).html(content);

              }else{ //Si la première ligne de check du JSON n'est pas conforme à ce qui à été demandé
                $('#accordion-' + type).html('<div class="alert alert-danger">Erreur de communication avec le serveur</div>');
              }
            });

      }else{

            options.currentPage=page[type];
            options.totalPages=nbPages[type];
            $('#pages').bootstrapPaginator(options);

      }
}


function clickOnPagination(pPage){
  $('#accordion-' + type).fadeOut('fast');

  page[type] = pPage;

  //On récupère le JSON depuis le controller AjaxController
  $.getJSON('{{ path('smart_unity_question_reponse_ajax_get_questions') }}/' + type + '/' + pPage + '/' + nbParPage, function(donnees){
      var content='';
      if(donnees[0]['page']==pPage && donnees[0]['type']==type && donnees[0]['nbParPage']==nbParPage){
        donnees.shift(); //On supprime la ligne de check du JSON

        donnees.forEach(function(pEntry, i){
          content += generateContent(pEntry, i);
        }); //Generation du code

        //Affichage du nouveau contenu dasn le tab, et fadeIn
        $('#accordion-' + type).html(content);
        $('#accordion-' + type).fadeIn('fast');

      }else{ //Si la première ligne de check du JSON n'est pas conforme à ce qui à été demandé
        $('#accordion-' + type).html('<div class="alert alert-danger">Erreur de communication avec le serveur</div>');
      }
  });
}


//////////////////
////// VARIABLES
//////////////////


var type;
var page;
var nbPage;
var nbParPages;
var options;



///////////////////////
////// INITIALISATION
///////////////////////



$(document).ready(function(){

  //Si JS est activé, on change les href des tabs par les id des content (pour bootstrap auto tabs!)
  $('#onFire-tab').attr('href', '#onFire');
  $('#last-tab').attr('href', '#last');
  $('#reponses-tab').attr('href', '#reponses');


  //Initialise les valeurs des pages/onglets ouverts.... 
 type = '{{ type }}';
 page = new Array();
    page[type]={{ page }};
    if(page['onFire']==null)page['onFire']=1;
    if(page['last']==null)page['last']=1;
    if(page['reponses']==null)page['reponses']=1;

nbParPage = {{ nbParPage }};

nbPages = new Array();
    nbPages[type] = {{ nbPages }};


  //Options du bootStrap Paginator
options = new Object();
  options = {
    currentPage: {{ page }},
    totalPages: nbPages[type],
    size: 'large',
    bootstrapMajorVersion: 3,
    onPageClicked: function(pEvent, pOriginalEvent, pType, pPage){
      clickOnPagination(pPage);
    }
  };



//////////////
////// EVENTS
//////////////



  //Definition du comportement du paginator
	$('#pages').bootstrapPaginator(options);

  //Gestion de la pagination pour les changement d'onglets
  $('#onFire-tab').click(function(){
      type = 'onFire';
      MaJPagination();
  });
  $('#last-tab').click(function(){
      type = 'last';
      MaJPagination();
  });
  $('#reponses-tab').click(function(){
      type = 'reponses';
      MaJPagination();
  });


});
</script>

{% endblock %}