{% extends "SmartUnityAppBundle::layoutLog.html.twig" %}

{% block title %}Smart'Unity - Resultats de la recherche{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/question.css') }}" rel="stylesheet" type="text/css">
<link href="{{asset('assets/css/magnificpopup.css')}}" rel="stylesheet" type="text/css">
<link href="{{ asset('assets/css/barreDeRecherche.css') }}"  rel="stylesheet" type="text/css">
{% endblock %}

{% block initJS %}
	<script src="{{ asset('assets/js/bootstrap-paginator.js') }}"></script>
  <script src="{{asset('assets/js/magnificpopup-0.9.9.min.js')}}"></script>
{% endblock %}




{% block body %}


  {% include "SmartUnityAppBundle::BarreRecherche.html.twig" %}

    <!-- nav div-->
    <div class="row">
        <div class="col-md-12">
            <div class="grille-content-2">
                <!-- nav div menu-->
            	<div class="collapse-menu ">
                <ul class="nav nav-tabs" id="myTab">
                  <li class="active"><a href="#">Resultats de la Recherche</a></li>
                </div>
                <!-- nav div menu fin-->
                <!-- contenue 1-->
                <div class="tab-content">
                  <div class="tab-pane fade in out active">
                  				<!-- accordion general-->
                          <div class="panel-group" id="liste">



                              {% if countListe == 0 %}
                                <br/>
                                <p align="center">Aucune question ne correspond &agrave; votre recherche!</p>
                                <br/>
                              {% else %}
                                  {% for question in listeQuestions %}

                                  <div class="panel panel-default fade in out">
                                      <!-- contenue visible-->
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                              <!-- rond pts-->
                                        <div class="grille-1">
                                          {%  if question.best_reponse != '' %}

                                            {% if question.certif_best_reponse != '' %}
                                                <div><img src="{{ asset('assets/img/certif.png') }}"/></div>
                                            {% else %}   
                                                <div><img src="{{ asset('assets/img/check.png') }}"/></div>
                                            {% endif %} 

                                          {% else %}
                                            <div class="rond-point"><p class="txt-rond" style="font-weight:200;">{{question.remuneration}} pts</p></div>
                                          {% endif %}
                                          </div>
                                                <!-- rond pts fin-->
                                                <!-- describ question-->
                                        <a data-toggle="collapse" data-parent="#liste" href="#collapse{{loop.index}}">
                                        <div class="grille-2" ><p>{{question.sujet}}</p>
                                            <p style="font-weight:200; font-style:italic">{{ question.membre_username }} le {{ question.date }}</p></div>
                                        </a>
                                                <!-- describ question fin-->
                                                <!-- nb réponses vues-->
                                        <div class="grille-3"><p>{{question.nb_reponses}} réponses</p><p></p>
                                        </div>
                                                <!-- nb réponses vues fin-->
                                                <!-- bouton rep -->
                                        <div class="grille-4"><a href="{{ path('smart_unity_question_reponse_display_reponse', {slug:question.slug, page:'1'}) }}"><button type="button" class="btn bouton-repondre">Détails</button></a>
                                        </div>
                                                <!-- bouton rep fin-->
                                      </h4>                           
                                    </div>
                                        <!-- contenue visible fin-->
                                        <!-- contenue caché-->
                                      <div id="collapse{{loop.index}}" class="panel-collapse collapse">
                                          <div class="panel-body">

                                                <div class="grille-det">
                                                        <p>{{question.description}}</p>
                                                </div>
                                                {% if question.date_best_reponse != '' %}
                                                <div class="grille-det-content">
                                                    <div class="grille-det1">
                                                            <p>{{ question.auteur_best_reponse }}</p>
                                                            <p>{{ question.date_best_reponse }}</p>
                                                      </div>
                                                        <div class="grille-det2">
                                                        <p>{{question.best_reponse}}</p>
                                                      </div>
                                                </div>
                                                {% endif %}

                                              </div>
                                          </div>
                                      </div>
                                    <!-- contenue caché fin-->
                                    {% endfor %}

                                  {% endif %}


                      </div><!-- accordion general fin-->
                                           
                  </div><!-- contenue 1 fin--> 
                 
                </div><!-- nav div fin--> 

                <div style="text-align:center;">
                    <ul id="pages" class="pagination pagination-lg">
                      {% for page in pagination %}
                      <li {% if page[2]=='0' %}class="active"{% endif %}><a
                  {% if app.request.attributes.get('_route') == 'smart_unity_question_reponse_demander_questions' %} href="{{ path('smart_unity_question_reponse_demander_questions') }}?q={{requete}}&p={{page[1]}}"
                  {% elseif app.request.attributes.get('_route') == 'smart_unity_question_reponse_repondre_questions' %} href="{{ path('smart_unity_question_reponse_repondre_questions', { page : page[1] }) }}"
                  {% endif %} >{{ page[0] }}</a></li>
                      {% endfor %}
                  </ul>
                </div>

		</div><!-- grille fin-->

        <div class="tooltip">
            <div class="tooltip-inner">
              Tooltip!
            </div>
        <div class="tooltip-arrow"></div>
        </div>
        <a id="popupQuestion"{% if not is_granted('ROLE_USER') %}rel="tooltip" data-original-title="Vous devez être connecté pour poser une question."{% endif %} href="{% if is_granted('ROLE_USER') %}{{ path('smart_unity_question_reponse_add_question')}}{% else %}#{% endif %}">
            <div class="bouton-com-rep">Posez votre question!</div>
        </a>

    </div><!-- col fin-->
</div>  <!-- row fin-->

{% endblock %}





{% block callJS %}

<script language="javascript">

/////////////
////// POPUP
/////////////
{% if is_granted('ROLE_USER') %}
{#$('#popupQuestion').magnificPopup({
  type: 'iframe',
  callbacks: {
    open: function(){
      $('#header').css('z-index', '1000');
      this.content.css('background-color', '#FFFFFF');
    },
    close: function(){
      $('#header').css('z-index', '1000000');
    }
  },
  disableOn: function() {
    if( $(window).width() < 768 ) {
      return false;
    } 
    return true;
  },

});#}
{% else %}
$(document).ready(function(){
  $('#popupQuestion').tooltip();
  $('#popupQuestion').click(function(e){
    e.preventDefault();
  })
});
{% endif %}

</script>

{% endblock %}