{% extends "SmartUnityAppBundle::layoutLog.html.twig" %}

{% block title %}Smart'Unity - Resultats de la recherche{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/reponse.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block initJS %}
	<script src="{{ asset('assets/js/bootstrap-paginator.js') }}"></script>
{% endblock %}




{% block body %}
<div class="row">
                    <div class="col-md-offset-1 col-md-10" style="padding:0px">
                      <div class="grille-content-2">
                        <div class="head-blue"><p style="float:left">Rootage galaxy s4 sous jelly bean 4.3</p><a href="#"><span class="glyphicon glyphicon-share"></span></a><p style="float:right">06 octombre 2013 11h gmt</p>
                            </div>
                             <div class="grille-1">
                              <div class="rond-point"><p>400 pts</p></div><div class="grille-soutient"><p style="margin:0px">31 soutients</p><button type="button" class="bouton-soutient"><span class="glyphicon glyphicon-plus-sign" style="font-size:24px"></span></button></div>
                            </div>
                            
                            <div class="grille-2" >
                     
                              <div class="grille-3-over">
                                <div class="grille-3">
                         
                                    <div class="grille-3-grey">
                                        <div class="grille-3-im">
                                              <img src="{{ asset('assets/img/logo-compte.png') }}"/>
                                        </div>
                                        <div class=" grille-3-txt">
                                          <p style="margin:0px; font-weight:600">Yvan_du_33</p>
                                            <p style="margin:0px">lol mais</p>
                                            <p style="margin:0px">42 troll</p>
                                            <p style="margin:0px">j'écris1</p>
                                        </div>
                                        <div class="grille-3-rond">
                                          <div class="square-blue">
                                            100
                                            </div>
                                        </div>
                                    </div>
                               
      
                            </div>
                            </div>
                            <p >Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moont, enim eiusmod high life enim eiusmod high life enim eiusmod high life enim eiusmod high life enim eiusmod high life enim eiusmod high life enim eiusmod high life enim eiusmod high life enim eiusmod high life enim eiusmod high life enim eiusmod high life 
                            </p>
                              
                                
                                <div style="float:right">
                                <div class="grille-3-btn">
                                   <a href="#"><div class="bouton-com-rep" style="margin-left:10px">Commenter</div></a>
                                   <a href="#"><div class="bouton-com-rep">Repondre</div></a>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="row">
                    <div class="col-md-offset-1 col-md-10" style="padding:0px">
                      <div class="grille-content-2">
                        <div class="head-blue"><p style="float:left">4 réponses</p><p style="float:right">06 octombre 2013 11h gmt</p>                            </div>
                                    <div class="grille-reponse">
                             <div class="grille-4">
                                <div class="roww" style="display:inline-block">
                                  <div class="fleche">
                                      <a href=""><img src="{{ asset('assets/img/fléche-verte.png') }}" /><p style="color:#7fc236">4</p></a>
                                    </div>
                                    <div class="fleche">
                                      <a href=""><img src="{{ asset('assets/img/fléche-rouge.png') }}"/><p style="color:#F00">5</p></a>
                                    </div>
                                </div>
                                <div class="roww">
                                  <p style="font-size:11px">03 octobre 2013.15.45</p>
                                </div>
                                <div class="roww" style="display:none">
                                  <img src="{{ asset('assets/img/certif.png') }}" style="margin-top:10px"/>
                                </div>
                            </div>
                            
                            <div class="grille-5" >
                     
                              <div class="grille-3-over">
                                <div class="grille-3">
                         
                                    <div class="grille-3-grey">
                                        <div class="grille-3-im">
                                              <img src="{{ asset('assets/img/logo-compte.png') }}"/>
                                        </div>
                                        <div class=" grille-3-txt">
                                          <p style="margin:0px; font-weight:600">Yvan_du_33</p>
                                            <p style="margin:0px">lol mais</p>
                                            <p style="margin:0px">42 troll</p>
                                            <p style="margin:0px">j'écris1</p>
                                        </div>
                                        <div class="grille-3-rond">
                                          <div class="square-blue">
                                            100
                                            </div>
                                        </div>
                                    </div>
                               
                              
                            </div>
                            </div>
                            <p >Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. 
                            </p>
                                <div class="commentaire">
                                <p style="float:left">troll je ne comprend pas le russe</p><p style="float:right"> lol le 3 octobre</p>
                                </div>
                                <div class="commentaire">
                                <p style="float:left">troll je ne comprend pas le russe</p><p style="float:right"> lol le 3 octobre</p>
                                </div>
                                <div class="commentaire">
                                <p style="float:left">troll je ne comprend pas le russe</p><p style="float:right"> lol le 3 octobre</p>
                                </div>
                                <div style="float:right">
                                <div class="grille-3-btn">
                                   <a href="#"><div class="bouton-com-rep">Commenter</div></a>
                                </div>
                                </div>
                            </div>
                            </div>
              <div class="grille-reponse-smart">
                             <div class="grille-4">
                                <div class="roww" style="display:inline-block">
                                  <div class="fleche">
                                      <a href=""><img src="{{ asset('assets/img/fléche-verte.png') }}" /><p style="color:#7fc236">4</p></a>
                                    </div>
                                    <div class="fleche">
                                      <a href=""><img src="{{ asset('assets/img/fléche-rouge.png') }}"/><p style="color:#F00">5</p></a>
                                    </div>
                                </div>
                                <div class="roww">
                                  <p style="font-size:11px">03 octobre 2013.15.45</p>
                                </div>
                                <div class="roww">
                                  <img src="{{ asset('assets/img/certif.png') }}" style="margin-top:10px"/>
                                </div>
                            </div>
                            
                            <div class="grille-5" >
                     
                              <div class="grille-3-over">
                                <div class="grille-3">
                         
                                    <div class="grille-3-grey">
                                        <div class="grille-3-im">
                                              <img src="{{ asset('assets/img/logo-compte.png') }}"/>
                                        </div>
                                        <div class=" grille-3-txt">
                                          <p style="margin:0px; font-weight:600">Yvan_du_33</p>
                                            <p style="margin:0px">lol mais</p>
                                            <p style="margin:0px">42 troll</p>
                                            <p style="margin:0px">j'écris1</p>
                                        </div>
                                        <div class="grille-3-rond">
                                          <div class="square-blue">
                                            100
                                            </div>
                                        </div>
                                    </div>
                               
                              
                            </div>
                            </div>
                            <p >Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. 
                            </p>
                                <div class="commentaire">
                                <p style="float:left">troll je ne comprend pas le russe</p><p style="float:right"> lol le 3 octobre</p>
                                </div>
                                <div class="commentaire">
                                <p style="float:left">troll je ne comprend pas le russe</p><p style="float:right"> lol le 3 octobre</p>
                                </div>
                                <div class="commentaire">
                                <p style="float:left">troll je ne comprend pas le russe</p><p style="float:right"> lol le 3 octobre</p>
                                </div>
                                <div style="float:right">
                                <div class="grille-3-btn">
                                   <a href="#"><div class="bouton-com-rep">Commenter</div></a>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>


{% endblock %}





{% block callJS %}
{% endblock %}