{% extends "SmartUnityAppBundle::layoutLog.html.twig" %}

{% block title %}Smart'Unity - Resultats de la recherche{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/reponse.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block initJS %}
	<script src="{{ asset('assets/js/bootstrap-paginator.js') }}"></script>
{% endblock %}




{% block body %}
<div class="row">
                    <div class="col-md-offset-1 col-md-10" style="padding:0px">
                      <div class="grille-content-2">
                        <div class="head-blue"><p style="float:left">{{ question.sujet }}</p><a href="#"><span class="glyphicon glyphicon-share"></span></a><p style="float:right">{{ date }}</p>
                            </div>






                             <div class="grille-1">
                              <div class="rond-point"><p>{{ remuneration }} pts</p></div><div class="grille-soutient"><p style="margin:0px">{{ nb_soutiens }} soutien {% if nb_soutiens > 1 %}s{% endif %}</p><button type="button" class="bouton-soutient"><span class="glyphicon glyphicon-plus-sign" style="font-size:24px"></span></button></div>
                            </div>
                            
                            <div class="grille-2" >
                     
                              <div class="grille-3-over">
                                <div class="grille-3">
                         
                                    <div class="grille-3-grey">
                                        <div class="grille-3-im">
                                              <img src="{{ asset('assets/img/logo-compte.png') }}"/>
                                        </div>
                                        <div class=" grille-3-txt">
                                          <p style="margin:0px; font-weight:600">{{ membre_nom }}</p>
                                            <p style="margin:0px">{{smart_reponses}} Smart'Reponses</p>
                                            <p style="margin:0px">{{nb_questions_membre}} Questions</p>
                                            <p style="margin:0px">{{points_membre}} Smart'Points</p>
                                        </div>
                                        <div class="grille-3-rond">
                                          <div class="square-blue">
                                            {{ membre_reputation }}
                                            </div>
                                        </div>
                                    </div>
                               
      
                            </div>
                            </div>
                            <p style="min-height: 100px">{{ question.description }}</p>
                              
                                
                                <div style="float:right">
                                <div class="grille-3-btn">
                                  <div style="float: left;margin-right: 5px;">
                                        <a href="#"><img src="{{ asset('assets/img/signaler.png') }}"/></a>
                                      </div>
                                   <a href="#"><div class="bouton-com-rep" style="margin-left:10px">Commenter</div></a>
                                   {% if not is_validated or not is_certif %}
                                   <a class="reponse"{% if not is_granted('ROLE_USER') %}rel="tooltip" data-original-title="Vous devez être connecté pour répondre à une question."{% endif %} href="{% if is_granted('ROLE_USER') %}{{ path('smart_unity_question_reponse_add_reponse',{ 'slug': slug })}}{% else %}#{% endif %}"><div class="bouton-com-rep">Repondre</div></a>{% endif %}
                                </div>
                                </div>
                            </div>


                            {% for reponse in listeReponses %}
                              {% if loop.index == 1 %}

                                {% if reponse.is_validated or reponse.is_certif %}
                                    {% include "SmartUnityQuestionReponseBundle:Include:ReponseBlock.html.twig" %}
                                    {% if nbReponses > 1 %}{% include "SmartUnityQuestionReponseBundle:Include:ReponseDivider.html.twig" %}{% endif %}
                                {% else %}
                                    {% include "SmartUnityQuestionReponseBundle:Include:ReponseDivider.html.twig" %}
                                    {% include "SmartUnityQuestionReponseBundle:Include:ReponseBlock.html.twig" %}
                                {% endif %}

                              {% else %}

                                {% include "SmartUnityQuestionReponseBundle:Include:ReponseBlock.html.twig" %}

                              {% endif %}
                          {% endfor %}

                        </div>
                    </div>
                </div>
              </div>

              <div class="row" style="margin-bottom:40px">
                <div style="text-align:center; cursor:pointer">
                    <ul id="pages" class="pagination pagination-lg">
                      {% for page in pagination %}
                      <li {% if page[2]=='0' %}class="active"{% endif %}><a href="{{ path('smart_unity_question_reponse_display_reponse', {page: page[1], slug: slug, tri: tri}) }}">{{ page[0] }}</a></li>
                      {% endfor %}
                  </ul>
                </div>
              </div>

{% endblock %}




{% block modal %}
{% if is_granted('ROLE_USER') and not is_certif and not is_validated %}
  <div id="addReponseHolder" style="width:100%; display:none; position:fixed; background-color:#CCC; border-top: solid 1px #333; bottom:0px; z-index:1000;">
    <div><iframe id="addReponse" style="border:0px; float:left; width:80%; margin-left:10%;" src="about:blank"></iframe></div>
    <div class="btn btn-default" style="float:left; left:-25px; cursor:pointer; width:40px;" id="closeFrame"><span class="glyphicon glyphicon-remove-circle"</span></div>
  </div>
{% endif %}
{% endblock %}





{% block callJS %}


<script>

////////////
/// VOTES
////////////

function upVote(pId){
  $.getJSON('{{ path('smart_unity_question_reponse_ajax_upvote') }}/' + pId, function(donnees){

  });
}

function downVote(pId){
  $.getJSON('{{ path('smart_unity_question_reponse_ajax_downvote') }}/' + pId, function(donnees){
    
  });
}





//////////
/// TOOLTIPS
//////////

$(document).ready(function(){

  $('a.reponse').click(function(e){
    {% if is_granted('ROLE_USER') %}
      $('#addReponse').attr('src', $(this).attr('href'));
      $('#addReponseHolder').show('fast');
      $('#closeFrame').click(function(){
        $('#addReponseHolder').hide('fast');
        $('#addReponse').attr('src', 'about:blank');
      })
    {% endif %}
    e.preventDefault();
  });

  {% if not is_granted('ROLE_USER') %}
  $('.reponse').tooltip({
    'placement' : 'left'
  });
  {% endif %}

  $('.roww').tooltip({
    'placement' : 'right'
  });
})





////////////////////////////
////////// PAGINATION & AJAX
////////////////////////////

//Options du bootStrap Paginator
options = new Object();
  options = {
    currentPage: {{ page }},
    totalPages: {{ nbPages }},
    alignment: 'center',
    numberOfPages: 5,
    size: 'large',
    itemContainerClass: function (type, page, current) {
                          return (page === current) ? "active" : "pointer-cursor";
                        },
    bootstrapMajorVersion: 3,
    onPageClicked: function(pEvent, pOriginalEvent, pType, pPage){
      clickOnPagination(pPage);
    }
  };


$(document).ready(function(){
  $('#pages').bootstrapPaginator(options);
});


function clickOnPagination(pPage){
  $('#reponses-container').fadeOut('fast');

  //On récupère le JSON depuis le controller AjaxController
  $.getJSON('{{ path('smart_unity_question_reponse_ajax_get_reponses', {slug: slug}) }}/{{tri}}/' + pPage + '/{{nbParPage}}', function(donnees){
      var content='';
      if(donnees[0]['page']==pPage && donnees[0]['slug']== '{{slug}}' && donnees[0]['nbParPage']== {{nbParPage}} && donnees[0]['tri'] == '{{tri}}'){
        donnees.shift(); //On supprime la ligne de check du JSON

        donnees.forEach(function(pEntry, i){
          if ( !pEntry['is_validated'] || !pEntry['is_certif'] ) content += generateContent(pEntry, i);
        }); //Generation du code

        //Affichage du nouveau contenu dasn le tab, et fadeIn
        $('#reponses-container').html(content);
        $('#reponses-container').fadeIn('fast');

      }else{ //Si la première ligne de check du JSON n'est pas conforme à ce qui à été demandé
        $('#reponses-container').html('<div class="alert alert-danger">Erreur de communication avec le serveur</div>');
      }
      $('.roww').tooltip({
        'placement' : 'right'
      });
  });
}

function generateContent(pEntry, i){
  var entity = '<div class="grille-reponse"> \
                                 <div class="grille-4"> \
                                    <div class="roww" style="display:inline-block" rel="tooltip" data-original-title="{% if not is_granted('ROLE_USER') %}Vous devez être connecté pour noter une réponse.{% endif %}';
                                    if( pEntry['is_voted'] ){
                                      entity += 'Vous avez déjà noté cette question.';
                                    }

                                entity += '"> \
                                      <div class="fleche" {% if is_granted('ROLE_USER') %}';

                                      if( !pEntry['is_voted'] ) entity += 'onClick="javascript:upVote(' + pEntry['id'] + ')"';


                                      entity +=' {% endif %}> \
                                          <img src="{{ asset('assets/img/fléche-verte.png') }}" /><p style="color:#7fc236">' + pEntry['up_vote'] + '</p> \
                                        </div> \
                                        <div class="fleche" {% if is_granted('ROLE_USER') %}';

                                      if( !pEntry['is_voted'] ) entity += 'onClick="javascript:downVote(' + pEntry['id'] + ')"';

                                        entity += '{% endif %}> \
                                          <img src="{{ asset('assets/img/fléche-rouge.png') }}"/><p style="color:#F00">' + pEntry['down_vote'] + '</p> \
                                        </div> \
                                    </div> \
                                    <div class="roww"> \
                                      <p style="font-size:11px">' + pEntry['date'] + '</p> \
                                    </div>';
                                    
                                    if(pEntry['is_validated'] || pEntry['is_certif']) entity +=' \
                                    <div class="roww"> \
                                      <img src="{{ asset('assets/img/certif.png') }}" style="margin-top:10px"/> \
                                    </div>';
                                    
                                    entity +=' \
                                </div> \
                                 \
                                <div class="grille-5" > \
                          \
                                  <div class="grille-3-over"> \
                                    <div class="grille-3"> \
                              \
                                        <div class="grille-3-grey"> \
                                            <div class="grille-3-im"> \
                                                  <img src="{{ asset('assets/img/logo-compte.png') }}"/> \
                                            </div> \
                                            <div class=" grille-3-txt"> \
                                              <p style="margin:0px; font-weight:600">' + pEntry['membre_nom'] + '</p> \
                                            <p style="margin:0px">' + pEntry['smart_reponses'] + ' Smart\'Reponses</p> \
                                            <p style="margin:0px">' + pEntry['nb_questions_membre'] + ' Questions</p> \
                                            <p style="margin:0px">' + pEntry['points_membre'] + ' Smart\'Points</p> \
                                            </div> \
                                            <div class="grille-3-rond"> \
                                              <div class="square-blue"> \
                                                ' + pEntry['membre_reputation'] + ' \
                                                </div> \
                                            </div> \
                                        </div> \
                                </div> \
                                </div> \
                                <p style="min-height: 100px">' + pEntry['description'] + '</p>';

                                
                                  pEntry['commentaires'].forEach(function(pCom, i){

                                    entity += '<div class="commentaire"> \
                                    <p style="float:left">' + pCom['description'] + '</p><p style="float:right">' + pCom['membre_nom'] + ' le ' + pCom['date'] + '</p> \
                                    </div>';

                                  });

                                
                                entity +=' \
                                    <div style="float:right"> \
                                    <div class="grille-3-btn"> \
                                      <div style="float: left;margin-right: 5px;"> \
                                        <a href="#"><img src="{{ asset('assets/img/signaler.png') }}"/></a> \
                                      </div> \
                                       <a href="#"><div class="bouton-com-rep">Commenter</div></a> \
                                    </div> \
                                    </div> \
                                </div> \
                                </div>';

  return entity;
}


</script>

{% endblock %}