{% extends "SmartUnityAppBundle::layoutLog.html.twig" %}

{% block title %}Smart'Unity - Resultats de la recherche{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/reponse.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block initJS %}
	<script src="{{ asset('assets/js/bootstrap-paginator.js') }}"></script>
{% endblock %}




{% block body %}
<div class="row">
                    <div class="col-md-offset-1 col-md-10" style="padding:0px">
                      <div class="grille-content-2">
                        <div class="head-blue"><p style="float:left">{{ question.sujet }}</p><a href="#"><span class="glyphicon glyphicon-share"></span></a><p style="float:right">{{ date }}</p>
                            </div>






                             <div class="grille-1">
                              <div class="rond-point"><p>{{ remuneration }} pts</p></div><div class="grille-soutient"><p style="margin:0px">{{ nb_soutiens }} soutien {% if nb_soutiens > 1 %}s{% endif %}</p><button type="button" class="bouton-soutient"><span class="glyphicon glyphicon-plus-sign" style="font-size:24px"></span></button></div>
                            </div>
                            
                            <div class="grille-2" >
                     
                              <div class="grille-3-over">
                                <div class="grille-3">
                         
                                    <div class="grille-3-grey">
                                        <div class="grille-3-im">
                                              <img src="{{ asset('assets/img/logo-compte.png') }}"/>
                                        </div>
                                        <div class=" grille-3-txt">
                                          <p style="margin:0px; font-weight:600">{{ membre_nom }}</p>
                                            <p style="margin:0px">{{smart_reponses}} Smart'Reponses</p>
                                            <p style="margin:0px">{{nb_questions_membre}} Questions</p>
                                            <p style="margin:0px">{{points_membre}} Smart'Points</p>
                                        </div>
                                        <div class="grille-3-rond">
                                          <div class="square-blue">
                                            {{ membre_reputation }}
                                            </div>
                                        </div>
                                    </div>
                               
      
                            </div>
                            </div>
                            <p>{{ question.description }}</p>
                              
                                
                                <div style="float:right">
                                <div class="grille-3-btn">
                                   <a href="#"><div class="bouton-com-rep" style="margin-left:10px">Commenter</div></a>
                                   <a href="#"><div class="bouton-com-rep">Repondre</div></a>
                                </div>
                                </div>
                            </div>


                            {% for reponse in listeReponses %}
                              {% if loop.index == 1 %}

                                {% if reponse.is_validated or reponse.is_certif %}
                                    {% include "SmartUnityQuestionReponseBundle:Include:ReponseBlock.html.twig" %}
                                    {% if nbReponses > 1 %}{% include "SmartUnityQuestionReponseBundle:Include:ReponseDivider.html.twig" %}{% endif %}
                                {% else %}
                                    {% include "SmartUnityQuestionReponseBundle:Include:ReponseDivider.html.twig" %}
                                    {% include "SmartUnityQuestionReponseBundle:Include:ReponseBlock.html.twig" %}
                                {% endif %}

                              {% else %}

                                {% include "SmartUnityQuestionReponseBundle:Include:ReponseBlock.html.twig" %}

                              {% endif %}
                          {% endfor %}


                    </div>
                </div>
              </div>


{% endblock %}



{% block callJS %}
{% endblock %}