{% extends "SmartUnityAppBundle::layoutLog.html.twig" %}
{% form_theme formSignaler 'SmartUnityUtilisateurBundle:Form:form_register.html.twig' %}

{% block title %}Smart'Unity - Resultats de la recherche{% endblock %}

{% block stylesheets %} 
<link href="{{ asset('assets/css/formulaire.css') }}" rel="stylesheet" type="text/css">
{%endblock%}


{% block body %}

<div class="row">

    <div class="col-md-offset-1 col-md-10">
        <div class="title text-center cookie-title">
            Signaler {{type}}
        </div>
        <div>
            <p>"Signaler" a pour but de maintenir le respect de la loi et d’autrui pour les utilisateurs de smartunity.fr. 
            </p>
            <p>Vous avez identifié du contenu inapproprié, merci de nous le faire savoir. Si cela est justifié, le contenu signalé sera supprimé et l'utilisateur concerné sera sanctionné.</p>
        </div>
    </div>
</div>

<div class="row" style="height:200px;">
    <div class="col-md-offset-1 col-md-10">

	{{ form_start(formSignaler)}}
        <div class="erreur">
            {{ form_errors(formSignaler) }}
        </div>
        <div class="row">
            <div class="grille-1">Motif :<span style="color: red;"> *</span></div>
            <div class="grille-2">{{form_widget(formSignaler.motif)}}</div>
            <div class="cent-h bouton-bas-block">
                <button type="submit" class="bouton-com-rep" >Envoyer</button></div>
            </div>
        </div> 
    </form>
</div>    
</div>

{% endblock %}