{% extends "SmartUnityAppBundle::layoutLog.html.twig" %}
{% form_theme formSignaler 'SmartUnityUtilisateurBundle:Form:form_register.html.twig' %}

{% block title %}Signaler {{type}}{% endblock %}

{% block stylesheets %} 
{% stylesheets filter='cssrewrite, yui_css'
				 'assets/css/formulaire.css' %}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}
{%endblock%}


{% block body %}

<div class="row">

    <div class="col-md-offset-1 col-md-10">
        <div class="title text-center cookie-title">
            Signaler {{type}}
        </div>
        <div>
            <p>Cette mention a pour but de maintenir le respect d’autrui et des règles en vigueur sur Smart'Unity.</p>
            <p>Vous avez identifié du contenu inapproprié, merci de l'avoir fait. Si cela est justifié, le contenu signalé sera supprimé et l'utilisateur concerné sera sanctionné.</p>
        </div>
    </div>
</div>

<div class="row" style="height:200px;">
    <div class="col-md-offset-1 col-md-10">

	{{ form_start(formSignaler)}}
        <div class="erreur">
            {{ form_errors(formSignaler) }}
        </div>
        <div style="margin-top: 20px;" class="row">
            <div class="grille-1">Motif :<span style="color: red;"> *</span></div>
            <div class="grille-2">{{form_widget(formSignaler.motif, { 'attr': {'class': 'form-textarea textarea-register'} })}}</div>
            {{form_widget(formSignaler._token) }}
            <div class="cent-h bouton-bas-block">
                <button type="submit" style="margin-top: 20px;" class="bouton-envoyer">Envoyer</button></div>
            </div>
        </div> 
    </form>
</div>    
</div>

{% endblock %}

