{% extends "SmartUnityAppBundle::layoutLog.html.twig" %}

{% block title %}Réponses de {{username}} {% endblock %}

{% block stylesheets %}
{% stylesheets filter='cssrewrite, yui_css'
				 'assets/css/magnificpopup.css' 
				 'assets/css/question.css'  %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block body %}

<!-- nav div-->
<div class="row">

            <!-- nav div menu-->
            <div class="title text-center cookie-title">
                <h1>Questions auxquelles {{username}} a répondues</h1>
            </div>
            <div class="col-md-12">            

        <div class="grille-content-2">
            <!-- nav div menu-->

            <div class="collapse-menu tab-ajax">
                <ul class="nav nav-tabs nav-tabs-question" id="myTab">
                    <li {% if type=='reponses' %}class="active first-tab"{% endif %}><a href="{{ path('smart_unity_membre_reponses', {'type': 'reponses', 'page': '1', 'id': membreId}) }}" data-toggle="tab" id="reponses-tab">Toutes ses réponses</a></li>
                    <li {% if type=='validated' %}class="active"{% endif %}><a href="{{ path('smart_unity_membre_reponses', {'type': 'validated', 'page': '1', 'id': membreId}) }}" data-toggle="tab" id="validated-tab">Ses réponses validées</a></li>
                    <li {% if type=='certified' %}class="active"{% endif %}><a href="{{ path('smart_unity_membre_reponses', {'type': 'certified', 'page': '1', 'id': membreId}) }}" data-toggle="tab" id="certified-tab">Ses réponses certifiées</a></li>
                </ul>
            </div>
            <!-- nav div menu fin-->
            

<div class="tab-content" id="content-frame">
    
 <!----------------------------------QUESTIONS RESOLUES----------------------------------------->
                <div class="tab-pane fade in out{% if type=='reponses' %} active{% endif %}" id="reponses">
                    <div class="panel-group" id="accordion-reponses">
                          {% if type == 'reponses' %}

                              {% if countListe == 0 %}
                        <div class="panel no-question">
                        <br/>
                        <p align="center">Il n'y a aucune question r&eacute;solue</p>
                        <br/>
                        </div>
                              {% else %}
                                  {% for question in listeQuestions %}
                        <div class="panel panel-default fade in out">
                            <!-- contenue visible-->
                            <div class="panel-heading">
                                    <div data-toggle="collapse" data-parent="#accordion-reponses" href="#collapse{{loop.index}}">
                                <h4 class="panel-title">
                                    <!-- rond pts-->
                                    <div class="grille-1">
                                    {%  if question.auteur_best_reponse == username%}
                                        <div>   
                                            <div>
                                            {% if question.is_certif_question == 'true' %}
                                                <img src="{{ asset('assets/img/certif.png') }}" style="margin-right:0px"/>
                                            {% elseif question.is_validated_question == 'true' %}   
                                                <img src="{{ asset('assets/img/check.png') }}" style="margin-right:0px"/>
                                            {% endif %} 
                                            </div>
                                        </div>
                                    {% else %}
                                    {% endif %}
                                    </div>
                                    <!-- rond pts fin-->
                                    <!-- sujet question-->
                                    <div class="grille-2" ><a onClick="event.stopPropagation();" href="{{ path('smart_unity_question_reponse_display_reponse', {slug:question.slug, page:'1'}) }}"><p>{{question.sujet}}</p></a>
                                            <p style="font-weight:200; font-style:italic">{{ question.membre_username }} le {{ question.date }}</p></div>
                                    <!-- sujet question fin-->
                                    
                                  <div style="overflow:hidden;min-width:100px">
                                    <!-- bouton rep -->
                                    <div class="grille-4"><a onClick="event.stopPropagation();" href="{{ path('smart_unity_question_reponse_display_reponse', {slug:question.slug, page:'1'}) }}"><button type="button" class="btn bouton-repondre">Détails</button></a>
                                    </div>
                                    <!-- bouton rep fin-->                                    <!-- nb réponses vues-->
                                    <div class="grille-3"><p>{{question.nb_reponses}} réponses</p><p></p>
                                    </div>
                                    <!-- nb réponses vues fin-->
                                  </div>      
                                </h4> 
                                    </div>        
                            </div>
                            <!-- contenue visible fin-->
                            <!-- contenue caché-->
                            <div id="collapse{{loop.index}}" class="panel-collapse collapse">
                                <div class="panel-body">

                                    <div class="grille-det">
                                        {{question.description |raw}}
                                    </div>
                                                {% if question.date_best_reponse != '' %}
                                    <div class="grille-det-content">                                        
                                         <div class="grille-det1">
                                            <p>{{ question.auteur_best_reponse }}</p>
                                            <p>{{ question.date_best_reponse }}</p>
                                        </div>
                                        <div class="grille-det2">
                                            {{question.best_reponse |raw}}
                                        </div>
                                    </div>
                                                {% endif %}

                                </div>
                            </div>
                        </div>
                        <!-- contenue caché fin-->
                                    {% endfor %}

                                  {% endif %}

                                {% endif %}
                    </div>
                </div>
 <!----------------------------------FIN QUESTIONS RESOLUES----------------------------------------->
 
 <!----------------------------------QUESTIONS VALIDEES----------------------------------------->
                <div class="tab-pane fade in out{% if type=='validated' %} active{% endif %}" id="validated">
                    <!-- accordion general-->
                    <div class="panel-group" id="accordion-validated">
                                {% if type == 'validated' %}
                                  {% if countListe == 0 %}
                        <br/>
                        <p align="center">Il n'y a aucune question dont la r&eacute;ponse a &eacute;t&eacute; valid&eacute;e</p>
                        <br/>
                                  {% else %}
                                    {% for question in listeQuestions %}
                                        
                        <div class="panel panel-default fade in out">
                            <!-- contenue visible-->
                            <div class="panel-heading">
                                <div data-toggle="collapse" data-parent="#accordion-validated" href="#collapse{{loop.index}}">
                                    <h4 class="panel-title">
                                        <!-- rond pts-->
                                        <div class="grille-1">
                                            <div class="rond-point">   
                                                <div>
                                                    <img src="{{ asset('assets/img/check.png') }}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- rond pts fin-->
                                        <!-- describ question-->
                                        <div class="grille-2" ><a onClick="event.stopPropagation();" href="{{ path('smart_unity_question_reponse_display_reponse', {slug:question.slug, page:'1'}) }}"><p>{{question.sujet}}</p></a>
                                            <p style="font-weight:200; font-style:italic">{{ question.membre_username }} le {{ question.date }}</p> </div>

                                        <!-- describ question fin-->
                                  <div style="overflow:hidden;min-width:100px">
                                    <!-- bouton rep -->
                                    <div class="grille-4"><a onClick="event.stopPropagation();" href="{{ path('smart_unity_question_reponse_display_reponse', {slug:question.slug, page:'1'}) }}"><button type="button" class="btn bouton-repondre">Détails</button></a>
                                    </div>
                                    <!-- bouton rep fin-->                                    <!-- nb réponses vues-->
                                    <div class="grille-3"><p>{{question.nb_reponses}} réponses</p><p></p>
                                    </div>
                                    <!-- nb réponses vues fin-->
                                  </div> 
                                    </h4>
                                </div>                           
                            </div>

                            <!-- contenue visible fin-->
                            <!-- contenue caché-->
                            <div id="collapse{{loop.index}}" class="panel-collapse collapse">
                                <div class="panel-body">

                                    <div class="grille-det">
                                        {{question.description |raw}}
                                    </div>

                                                {% if question.date_best_reponse != '' %}
                                    <div class="grille-det-content">
                                        <div class="grille-det1">
                                            <p>{{ question.auteur_best_reponse }}</p>
                                            <p>{{ question.date_best_reponse }}</p>
                                        </div>
                                        <div class="grille-det2">
                                            {{question.best_reponse |raw}}
                                        </div>
                                    </div>
                                                {% endif %}

                                </div>
                            </div>
                        </div>
                        <!-- contenue caché fin-->
                                    {% endfor %}
                                  {% endif %}
                                {% endif %}
                    </div><!-- accordion general fin-->

                </div>
  <!----------------------------------FIN QUESTIONS VALIDEES----------------------------------------->
  
  <!----------------------------------QUESTIONS CERTIFIEES----------------------------------------->
                <div class="tab-pane fade in out{% if type=='certified' %} active{% endif %}" id="certified">
                    <div class="panel-group" id="accordion-certified">
                            {% if type == 'certified' %}

                              {% if countListe == 0 %}
                        <br/>
                        <p align="center">Il n'y a aucune question dont la r&eacute;ponse a &eacute;t&eacute; certifi&eacute;e</p>
                        <br/>
                              {% else %}

                                  {% for question in listeQuestions %}

                        <div class="panel panel-default fade in out">
                            <!-- contenue visible-->
                            <div class="panel-heading">
                                    <div data-toggle="collapse" data-parent="#accordion-certified" href="#collapse{{loop.index}}">
                                <h4 class="panel-title">
                                    <!-- rond pts-->
                                    <div class="grille-1"><div class="rond-point"><p class="txt-rond" style="font-weight:200;">{{question.remuneration}} pts</p></div></div>
                                    <!-- rond pts fin-->
                                    <!-- describ question-->
                                        <div class="grille-2" ><a onClick="event.stopPropagation();" href="{{ path('smart_unity_question_reponse_display_reponse', {slug:question.slug, page:'1'}) }}"><p>{{question.sujet}}</p></a>
                                            <p style="font-weight:200; font-style:italic">{{ question.membre_username }} le {{ question.date }}</p></div>
                                    <!-- describ question fin-->
                                  <div style="overflow:hidden;min-width:100px">
                                    <!-- bouton rep -->
                                    <div class="grille-4"><a onClick="event.stopPropagation();" href="{{ path('smart_unity_question_reponse_display_reponse', {slug:question.slug, page:'1'}) }}"><button type="button" class="btn bouton-repondre">Détails</button></a>
                                    </div>
                                    <!-- bouton rep fin-->                                    <!-- nb réponses vues-->
                                    <div class="grille-3"><p>{{question.nb_reponses}} réponses</p><p></p>
                                    </div>
                                    <!-- nb réponses vues fin-->
                                  </div> 
                                </h4>                           
                                    </div>
                                    </div>
                            <!-- contenue visible fin-->
                            <!-- contenue caché-->
                            <div id="collapse{{loop.index}}" class="panel-collapse collapse">
                                <div class="panel-body">

                                    <div class="grille-det">
                                        {{question.description |raw}}
                                    </div>
                                                {% if question.date_best_reponse != '' %}
                                    <div class="grille-det-content">
                                        <div class="grille-det1">
                                            <p>{{ question.auteur_best_reponse }}</p>
                                            <p>{{ question.date_best_reponse }}</p>
                                        </div>
                                        <div class="grille-det2">
                                            {{question.best_reponse |raw}}
                                        </div>
                                    </div>
                                                {% endif %}

                                </div>
                            </div>
                        </div>
                        <!-- contenue caché fin-->
                                    {% endfor %}
                                  {% endif %}
                                {% endif %}
                    </div>
                </div>
<!----------------------------------FIN QUESTIONS CERTIFIEES----------------------------------------->
  
            </div><!-- nav div fin--> 

            <div style="text-align:center; cursor:pointer">
                <ul id="pages" class="pagination pagination-lg">
                      {% for page in pagination %}
                    <li {% if page[2]=='0' %}class="active"{% endif %}><a href="{{ path('smart_unity_membre_questions', {page: page[1], type: type, id: membreId}) }}">{{ page[0] }}</a></li>
                      {% endfor %}
                </ul>
            </div>

    </div><!-- col fin-->
            </div>
</div>  <!-- row fin-->

{% endblock %}





{% block callJS %}
{% javascripts filter='yui_js' 
				'assets/js/bootstrap-paginator.js' 
				'assets/js/magnificpopup-0.9.9.min.js'
				'assets/js/jquery.animateAuto-1.0.0.js'	 %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script language="javascript">



//////////////////
////// FONCTIONS
//////////////////


    function generateContent(pEntry, i) {
        var entity = '<div class="panel panel-default"> \
                        <div class="panel-heading"> \
                                <div data-toggle="collapse" data-parent="#accordion-' + type + '" href="#collapse' + type + i + '"> \
                            <h4 class="panel-title"> \
                                <div class="grille-1"> \
                                    <div>';

                                    if (pEntry['auteur_best_reponse'] == username ){
                                        if (pEntry['is_certif_question'] == true){
                                            entity += '<img src="{{ asset('assets/img/certif.png') }}"/>';
                                        }else if (pEntry['is_validated_question'] == true){
                                            entity += '<img src="{{ asset('assets/img/check.png') }}"/>';
                                        }
                                        else{
                                            entity +="";
                                        }
                                    }
                                    entity +='</div></div>  \
                                    <div class="grille-2" ><a onClick="event.stopPropagation();" href="{{ path('smart_unity_question_reponse_display_reponse') }}/' + pEntry['slug'] + '"><p>' + pEntry['sujet'] + '</p></a> \
                                        <p style="font-weight:200; font-style:italic">' + pEntry['membre_username'] + ' le ' + pEntry['date'] + '</p> \
                                    </div> \
                                  <div style="overflow:hidden;min-width:100px">';
                               entity+='<div class="grille-4"><a onClick="event.stopPropagation();" href="{{ path('smart_unity_question_reponse_display_reponse') }}/' + pEntry['slug'] + '"> \
                                                <button type="button" class="btn bouton-repondre">';


        if (type == 'reponses')
            {entity += 'Détails';}
        else
            {entity += 'Répondre';}
        entity += '</button></a></div>';
        
        entity+= '<div class="grille-3"><p>' + pEntry['nb_reponses'] + ' réponse';

        if (pEntry['nb_reponses'] > 1)
            {entity += 's';}

        entity += '</p></div> \
                    </div></h4></div> \
                                              <div id="collapse' + type + i + '" class="panel-collapse collapse"> \
                                                  <div class="panel-body"> \
                                                  <div class="grille-det"> \
                                                        <p>' + pEntry['description'] + '</p> \
                                                </div>';

        if (pEntry['date_best_reponse'] != '')
            {entity += '<div class="grille-det-content"> \
                                                    <div class="grille-det1"> \
                                                            <p>' + pEntry['auteur_best_reponse'] + '</p> \
                                                            <p>' + pEntry['date_best_reponse'] + '</p> \
                                                      </div> \
                                                        <div class="grille-det2"> \
                                                        <p>' + pEntry['best_reponse'] + '</p> \
                                                      </div> \
                                                </div>';
            }

        entity += '</div> \
                                              </div> \
                                          </div>\
                                          </div>';

        return entity;
    }

    function MaJPagination() {
        if (nbPages[type] == null) { //Si le tab est vide....

            fixHeight();
            $('#accordion-' + type).fadeOut('fast');
            $.getJSON('{{ path('smart_unity_utilisateur_ajaxmembre_get_reponses') }}/' + membreId + '/' + type + '/1/' + nbParPage + '/' + route, function(donnees) {
                var content = '';
                if (donnees[0]['page'] == 1 && donnees[0]['type'] == type && donnees[0]['nbParPage'] == nbParPage) {

                    //Définition d'un nouveau paginator adapté...
                    nbPages[type] = donnees[0]['nbPages'];

                    if (nbPages[type] != 0) {
                        options.currentPage = 1;
                        options.totalPages = nbPages[type];
                        $('#pages').bootstrapPaginator(options);
                    }

                    donnees.shift(); //On supprime la ligne de check du JSON

                    //Puis on remplit le nouveau tab
                    if (donnees.length == 0) {
                        content += '<div class="panel no-question"><p align="center">';
                            if(type == 'validated'){
                                content+="Il n\'y a aucune réponse validée </p></div>'";
                            }
                            else if(type == 'certified'){
                                content+="Il n\'y a aucune réponse certifiée</p></div>'";
                            } 
                            else{
                                content+="Il n\'y a aucune réponse dans cette catégorie</p></div>'";
                            }
                        $('#pages').fadeOut();
                    } else {
                        donnees.forEach(function(pEntry, i) {
                            content += generateContent(pEntry, i);
                        }); //Generation du code
                        $('#pages').fadeIn();
                    }

                    //Affichage du nouveau contenu dasn le tab, et fadeIn
                    $('#accordion-' + type).html(content);

                } else { //Si la première ligne de check du JSON n'est pas conforme à ce qui à été demandé
                    $('#accordion-' + type).html('<div class="alert alert-danger">Erreur de communication avec le serveur</div>');
                }

                $('#accordion-' + type).fadeIn('fast');
                $('#content-frame').animateAuto('height', 'fast', function() {
                    $('#content-frame').height('auto');
                });

            });

        } else {
            fixHeight();
            if (nbPages[type] != 0) {
                options.currentPage = page[type];
                options.totalPages = nbPages[type];
                $('#pages').bootstrapPaginator(options);
                $('#pages').fadeIn();
            } else {
                $('#pages').fadeOut();
            }

        }
    }


    function clickOnPagination(pPage) {
        fixHeight();
        $('#accordion-' + type).fadeOut('fast');

        page[type] = pPage;

        //On récupère le JSON depuis le controller AjaxController
        $.getJSON('{{ path('smart_unity_utilisateur_ajaxmembre_get_reponses') }}/' + membreId + '/' + type + '/' + pPage + '/' + nbParPage + '/' + route, function(donnees) {
            var content = '';
            if (donnees[0]['page'] == pPage && donnees[0]['type'] == type && donnees[0]['nbParPage'] == nbParPage) {
console.log('donnees1:');
console.log(JSON.stringify(donnees,null,4)); 
            donnees.shift(); //On supprime la ligne de check du JSON
console.log('donnees2:');
console.log(JSON.stringify(donnees,null,4));

                donnees.forEach(function(pEntry, i) {
                    content += generateContent(pEntry, i);
                }); //Generation du code

                //Affichage du nouveau contenu dasn le tab, et fadeIn
                $('#accordion-' + type).html(content);
                $('#accordion-' + type).fadeIn('fast');
                $('#content-frame').animateAuto('height', 'fast', function() {
                    $('#content-frame').css('height', 'auto');
                });


            } else { //Si la première ligne de check du JSON n'est pas conforme à ce qui à été demandé
                $('#accordion-' + type).html('<div class="alert alert-danger">Erreur de communication avec le serveur</div>');
                $('#accordion-' + type).fadeIn('fast');
            }
        });
    }


    function fixHeight() {
        $('#content-frame').height($('#content-frame').height());
    }


//////////////////
////// VARIABLES
//////////////////


    var type;
    var page;
    var nbPage;
    var nbParPages;
    var options;
    var route;
    var username;



///////////////////////
////// INITIALISATION
///////////////////////



    $(document).ready(function() {

        //Si JS est activé, on change les href des tabs par les id des content (pour bootstrap auto tabs!)
        $('#validated-tab').attr('href', '#validated');
        $('#certified-tab').attr('href', '#certified');
        $('#reponses-tab').attr('href', '#reponses');


        //Initialise les valeurs des pages/onglets ouverts.... 
        membreId = '{{membreId}}';
        type = '{{ type }}';
        page = new Array();
        route = '{{ route }}';
        page[type] ={{ page }};
        username ='{{ username}}';
        if (page['validated'] == null)
            page['validated'] = 1;
        if (page['certified'] == null)
            page['certified'] = 1;
        if (page['reponses'] == null)
            page['reponses'] = 1;

        nbParPage = {{ nbParPage }};

        nbPages = new Array();
        nbPages[type] = {{ nbPages }};


        //Options du bootStrap Paginator
        options = new Object();
        options = {
            currentPage: {{ page }},
            totalPages: nbPages[type],
            alignment: 'center',
            numberOfPages: 5,
            size: 'large',
            itemContainerClass: function(type, page, current) {
                return (page === current) ? "active" : "pointer-cursor";
            },
            bootstrapMajorVersion: 3,
            onPageClicked: function(pEvent, pOriginalEvent, pType, pPage) {
                clickOnPagination(pPage);
            }
        };



//////////////
////// EVENTS
//////////////



        //Definition du comportement du paginator
        $('#pages').bootstrapPaginator(options);

        //Gestion de la pagination pour les changement d'onglets
        $('#validated-tab').click(function() {
            type = 'validated';
            MaJPagination();
        });
        $('#certified-tab').click(function() {
            type = 'certified';
            MaJPagination();
        });
        $('#reponses-tab').click(function() {
            type = 'reponses';
            MaJPagination();
        });

        $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
            if (nbPages[type] != null) {
                $('#content-frame').animateAuto('height', 'fast', function() {
                    $('#content-frame').css('height', 'auto');
                });
            }
        });



    });
</script>

{% endblock %}