{% extends "SmartUnityUtilisateurBundle::layout.html.twig" %}

{% block profil %}

<div class="row">
    <div class="col-md-12 text-center"><img src="{{asset('assets/img/mon-compte.png')}}" style="padding-top:20px"/>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-5" style="margin-top:20px">

{# Bloc  Mes Informations   #}
        <div class="grille-content">
            <div class="row  ">
                <div class="text-center"><img src="{{asset('assets/img/mes-info.png')}}"/> 

                    <a class="active" href="{{ path('smart_unity_utilisateur_editinfos') }}">editer</a>
                </div>

            </div>


{% block infos %}     
{% endblock %}
{% block edition %}     
{% endblock %}
{% block change_password %}
{% endblock%}
        </div>
        
{# Bloc  Mes Préférences   #}
        <div class="grille-content">
            <div class="row  ">
                <div class="text-center"><img src="{{asset('assets/img/mes-pref.png')}}"/></div>
            </div>
            {% block preferences %} 
            {% endblock%}
        </div>

    </div>
    <div class="col-md-5" style="margin-top:20px">
        <div class="grille-content">
            <div class="row  ">
                <div class="text-center"><img src="{{asset('assets/img/ma-com.png')}}"/></div>
            </div>
            <div class="row  ">
                <div class="grille-1"></div>
                <div class="grille-2"></div>
            </div>
            <div class="row  ">
                <div class="grille-1"></div>
                <div class="grille-2"></div>
            </div>
            <div class="row  ">
                <div class="grille-1"></div>
                <div class="grille-2"></div>
            </div>
            <div class="row  ">
                <div class="grille-1"></div>
                <div class="grille-2"></div>
            </div>
            <div class="row  ">
                <div class="grille-1"></div>
                <div class="grille-2"></div>
            </div>
        </div>
        <div class="grille-content">
            <div class="row  ">
                <div class="text-center"><img src="{{asset('assets/img/mon-a.png')}}"/></div>
            </div>
            <div class="row  ">
                <div class="grille-1"></div>
                <div class="grille-2"></div>
            </div>
            <div class="row  ">
                <div class="grille-1"></div>
                <div class="grille-2"></div>
            </div>
            <div class="row  ">
                <div class="grille-1"></div>
                <div class="grille-2"></div>
            </div>
            <div class="row  ">
                <div class="grille-1"></div>
                <div class="grille-2"></div>
            </div>
            <div class="row  ">
                <div class="grille-1"></div>
                <div class="grille-2"></div>
            </div>
            <div class="row  ">
                <div class="grille-1"></div>
                <div class="grille-2"></div>
            </div>
            
        </div>
    </div>
</div>

  {% endblock %}
