{% block title %}Mon compte{% endblock %}
{% extends "SmartUnityUtilisateurBundle::layout.html.twig" %}
{% form_theme form_pref 'SmartUnityUtilisateurBundle:Form:form_mon_compte.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('assets/css/mon-compte.css') }}" rel="stylesheet" type="text/css">

 {% endblock %}

{% block profil %}

<div class="row">
    <div class="col-md-12 text-center"><h1>Mon compte</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6" style="margin-top:20px">

{# Bloc  Mes Informations   #}
        <div class="grille-content posRelative">  
            <div class="row text-center ">
                <h3>Mes informations</h3> 
            </div>

{% block infos %} 
{% endblock %}
{% block edition %}  
{% endblock %}
{% block change_password %}
{% endblock %}
{% block avatar %}  
{% endblock %}        

        </div>

    </div>    

    <div class="col-md-6" style="margin-top:20px">
    
    <div class="grille-content">
        {%block activite%}
            <div class="row text-center ">
                <h3>Mon activité</h3> 
            </div>
            <div class="row premiere-ligne lien-activite ligne-cagnotte">
    <a href="{{ path('smart_unity_membre_questions', {'type': 'reponses', 'page': '1', 'id': app.user.id}) }}">
                <div class="grille-3">{{ app.user.questions.count}}</div>
                <div class="grille-4">questions posées</div>  
    </a>            
            </div>
            <div class="row lien-activite">
    <a href="{{ path('smart_unity_membre_reponses', {'type': 'reponses', 'page': '1', 'id': app.user.id}) }}">
                <div class="grille-3">{{ app.user.reponses.count}}</div>
                <div class="grille-4">réponses apportées</div>
    </a>
            </div>
            <div class="row  ">
                	<div class="grille-3">{{ smartrep }}</div>  
                <div class="grille-4">Smart'Réponses</div>  
            </div>
            <div class="row  ">
                <div class="grille-3">{{ remuneration }}</div>
                <div class="grille-4">Points gagnés</div>
            </div>
            <div class="row ligne-cagnotte">
                <div class="grille-3">0</div>
                <div class="grille-4">Cadeaux gagnés</div>
            </div>
            <div class="cagnotte">
            	<img src="{{ asset('assets/img/piggy-bank.png') }}"/>
            	<p class="nb-pts-cagnotte">{{ app.user.cagnotte }}</p>
            	<p class="pts-cagnotte">pts</p>
            </div>
        {%endblock%}
        </div>
        
        {# Bloc  Mes Préférences   #}
        <div class="grille-content">
            <div class="row text-center ">
                <h3>Mes préférences</h3> 
            </div>
{% block preferences %} 

            <form action="{{ path('smart_unity_utilisateur_setpref') }}" {{ form_enctype(form_pref) }} method="POST">
    {{form_errors(form_pref)}}

                <div class="premiere-ligne ">&nbsp Je souhaite recevoir des notifications par Email pour :
                </div>
                <div class="row premiere-ligne ">
                    <div class="grille-1 pref">Un commentaire</div>
                    <div class="grille-2 pref radio-pref">{{form_widget(form_pref.pref_comm)}}</div>
                </div>
                <div class="row">
                    <div class="grille-1 pref">Une réponse à une question</div>
                    <div class="grille-2 pref radio-pref">{{form_widget(form_pref.pref_rep)}}</div>
                </div>
                <div class="row">
                    <div class="grille-1 pref">Une de mes réponses a été validée</div>
                    <div class="grille-2 pref radio-pref">{{form_widget(form_pref.pref_repValidee)}}</div>
                </div>
                <div class="row">
                    <div class="grille-1 pref">Une de mes réponses a été certifiée</div>
                    <div class="grille-2 pref radio-pref">{{form_widget(form_pref.pref_repCertifiee)}}</div>
                </div>

                <div class="cent-h bouton-bas-block">
                    <button type="submit" class="btn bouton-repondre">Valider mes préférences

                </div>

{{form_end(form_pref)}}   
            </form> 

{% endblock %}

        </div>

        <div class="grille-content">
            <div class="row text-center ">
                <h3>Ma communauté</h3> 
            </div>
        {% block parrainage %}

            <div class="premiere-ligne prem-ligne-parrainage"> Vous pouvez parrainer vos amis en entrant leur adresse Email ci-dessous. Vous et votre filleul gagnent XXX points!</div>

            {% if parrain is not empty %}
            <div class="row">
                <div class="grille-1">Votre parrain est :</div>
                <div class="grille-2">{{ parrain }} </div>
            </div>
            {% endif %}

            <form action="{{ path('smart_unity_utilisateur_envoiparrainage') }}" {{ form_enctype(form_parrainage) }} method="POST">
            {#{{form_start(form_parrainage)}}#}
            {{form_errors(form_parrainage)}}
                <div class="row">
                    <div class="grille-1">Adresse Email</div>
                    <div class="grille-2">{{form_widget(form_parrainage.email,{'attr': {'class': 'form-control forminfo' }})}} </div>
                </div>

                <div class="cent-h bouton-bas-block">
                    <button type="submit" class="btn bouton-repondre">Envoyer 
                </div>
                	<div class="row">
					<div class="grille-1"></div>
					<div class="grille-2"></div>
				</div>
            {{form_end(form_parrainage)}}
        {% endblock %}
        </div>
     </div>
</div>

        {%endblock%}