{#{% extends "FOSUserBundle::layout.html.twig" %}#}
{% trans_default_domain 'FOSUserBundle' %}
{% extends "SmartUnityUtilisateurBundle::layout.html.twig" %}
{% form_theme form 'SmartUnityUtilisateurBundle:Form:form_register.html.twig' %}

{% block stylesheets %} 
<link href="{{ asset('assets/css/register.css') }}" rel="stylesheet" type="text/css">
{%endblock%}

{% block register %}
<div class="row">

    <div class="col-md-offset-2 col-md-8"">
        <div class="grille-content"> 
            <div class="title text-center cookie-title">
                Pourquoi?
            </div>
            <div>
                <p> Pourquoi rejoindre la communauté Smart’Unity.fr ? En tant que membre, 
                    vous pourrez accéder à tous les contenus et ressources apportés par les 
                    autres membres de la communauté.
                </p>
                <p>Pour s’incrire, il vous suffit de remplir le formulaire suivant. Les champs 
                    marqués d’un * sont obligatoires. L’adresse e-mail doit être valide pour que
                    le compte soit créé. Un mail de confirmation vous sera envoyé à la fin de l’inscription.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="grille-content panneau-bas">  
            <div class="row text-center cookie-title">
                Inscription rapide
            </div>

            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">


                <div class="erreur">
                    <p>{{form_errors(form.username)}}</p>
                    <p>{{form_errors(form.email)}}</p>
                    <p>{{form_errors(form.plainPassword)}}</p> 
                </div>

                <fieldset>
                    <legend>Compte</legend>
                    <div class="row premiere-ligne ">
                        <div class="grille-1">{{form_label(form.username)}}</div>
                        <div class="grille-2">{{form_widget(form.username)}}</div>
                    </div> 
                    <div class="row">
                        <div class="grille-1">{{form_label(form.email)}}</div>
                        <div class="grille-2">{{form_widget(form.email)}}</div>
                    </div> 
         {{form_widget(form.plainPassword)}}           
{#                    <div class="row">
                        <div class="grille-1">{{form_label(form.plainPassword)}}</div>
                        <div class="grille-2">{{form_widget(form.plainPassword)}}</div>
                    </div> #}

                </fieldset>


                <fieldset>
                    <legend>Informations personnelles</legend>

                    <div class="row premiere-ligne ">
                        <div class="grille-1">{{form_label(form.nom)}}</div>
                        <div class="grille-2">{{form_widget(form.nom)}}</div>
                    </div>   
                    <div class="row">
                        <div class="grille-1">{{form_label(form.sexe)}}</div>
                        <div class="grille-2">{{form_widget(form.sexe)}}</div>
                    </div> 
                    <div class="row ">
                        <div class="grille-1">{{form_label(form.date_naissance)}}</div>
                        <div class="grille-2">{{form_widget(form.date_naissance)}}</div>
                    </div> 
                </fieldset>
                
                <fieldset>
                    <legend>Préférences</legend>    


                    <div class="row premiere-ligne ">
                        <div class="grille-1 pref">{{form_label(form.pref_mp)}}</div>
                        <div class="grille-2 pref radio-pref">{{form_widget(form.pref_mp)}}</div>
                    </div>
                    <div class="row  ">
                        <div class="grille-1 pref">{{form_label(form.pref_comm)}}</div>
                        <div class="grille-2 pref radio-pref">{{form_widget(form.pref_comm)}}</div>
                    </div>
                    <div class="row  ">
                        <div class="grille-1 pref no-right-margin">{{form_label(form.pref_smartcafe)}}</div>
                        <div class="grille-2 pref radio-pref">{{form_widget(form.pref_smartcafe)}}</div>
                    </div>
                    <div class="row  ">
                        <div class="grille-1 pref">{{form_label(form.pref_rep)}}</div>
                        <div class="grille-2 pref radio-pref">{{form_widget(form.pref_rep)}}</div>
                    </div>
                    <div class="row  ">
                        <div class="grille-1 pref">{{form_label(form.pref_repValidee)}}</div>
                        <div class="grille-2 pref radio-pref">{{form_widget(form.pref_repValidee)}}</div>
                    </div>
                    <div class="row  ">
                        <div class="grille-1 pref">{{form_label(form.pref_repCertifiee)}}</div>
                        <div class="grille-2 pref radio-pref">{{form_widget(form.pref_repCertifiee)}}</div>
                    </div>

{#    {{form_row(form.pref_mp)}}
    {{form_row(form.pref_comm)}}
    {{form_row(form.pref_smartcafe)}}
    {{form_row(form.pref_rep)}}
    {{form_row(form.pref_repValidee)}}
    {{form_row(form.pref_repCertifiee)}}#}
                </fieldset>
                <div class="cent-h bouton-bas-block">
                    <button type="submit" class="btn btn-primary btn-lg">Valider</button>
                </div> 

{{form_end(form)}}

{#{{ form_widget(form) }}#}

{#</form>      #}

        </div>
    </div>
</div>    
{% endblock register %}

