{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{#{% extends "SmartUnityUtilisateurBundle::layout.html.twig" %}#}
{% form_theme form 'SmartUnityUtilisateurBundle:Form:form_register.html.twig' %}


{% block register %}
<div class="row">
    <div class="col-md-offset-2 col-md-8" style="margin-top:20px">
        <div class="grille-content posRelative">  
            <div class="row text-center ">
                Créer un compte
            </div>

            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{form_errors(form)}}

                <fieldset>
                    <legend>Compte</legend>
    {{form_row(form.username)}}
    {{form_row(form.email)}}
    {{form_row(form.plainPassword)}}
                </fieldset>


                <fieldset>
                    <legend>Informations personnelles</legend>
    {{form_row(form.nom)}}
{#    {{form_row(form.prenom)}}             #}
    {{form_row(form.sexe)}}
    {{form_row(form.date_naissance)}}
                </fieldset>
                <fieldset>
                    <legend>Préférences</legend>    


                    <div class="row premiere-ligne ">
                        <div class="grille-1 pref">{{form_label(form.pref_mp)}}</div>
                        <div class="grille-2 pref radio-pref">{{form_widget(form.pref_mp)}}</div>
                    </div>
                    <div class="row  ">
                        <div class="grille-1 pref">{{form_label(form.pref_comm)}}</div>
                        <div class="grille-2 pref radio-pref">{{form_widget(form.pref_comm)}}</div>
                    </div>
                    <div class="row  ">
                        <div class="grille-1 pref">{{form_label(form.pref_smartcafe)}}</div>
                        <div class="grille-2 pref radio-pref">{{form_widget(form.pref_smartcafe)}}</div>
                    </div>
                    <div class="row  ">
                        <div class="grille-1 pref">{{form_label(form.pref_rep)}}</div>
                        <div class="grille-2 pref radio-pref">{{form_widget(form.pref_rep)}}</div>
                    </div>
                    <div class="row  ">
                        <div class="grille-1 pref">{{form_label(form.pref_repValidee)}}</div>
                        <div class="grille-2 pref radio-pref">{{form_widget(form.pref_repValidee)}}</div>
                    </div>
                    <div class="row  ">
                        <div class="grille-1 pref">{{form_label(form.pref_repCertifiee)}}</div>
                        <div class="grille-2 pref radio-pref">{{form_widget(form.pref_repCertifiee)}}</div>
                    </div>
            
{#    {{form_row(form.pref_mp)}}
    {{form_row(form.pref_comm)}}
    {{form_row(form.pref_smartcafe)}}
    {{form_row(form.pref_rep)}}
    {{form_row(form.pref_repValidee)}}
    {{form_row(form.pref_repCertifiee)}}#}
                </fieldset>
                <div class="cent-h bouton-bas-block">
                    <button type="submit" class="btn btn-primary btn-lg">Valider</button>
                </div> 

{{form_end(form)}}

{#{{ form_widget(form) }}#}

{#</form>      #}

        </div>
    </div>
</div>    
{% endblock register %}
