<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/addQuestionReponse.css.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/chosen/chosen.min.css') }}">

    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'> 

    <script src="{{ asset('assets/js/jquery-1.10.2.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>

</head>
<body>

	<div style="width:100%;padding:0 15px;">
	    <legend>Nouvelle Reponse</legend>
		
		{{ form_start(formQuestion)}}
		<div class="erreur">
            {{ form_errors(formQuestion) }}
	    </div>
	    <div class="row" >
	        <div class="grille-1">{{ form_label(formQuestion.sujet) }}</div>
	        <div class="grille-2">{{ form_errors(formQuestion.sujet) }}{{ form_widget(formQuestion.sujet,{'attr': {'style': 'width:100%;'}}) }}</div>
	    </div>
	    <div class="row">
	        <div class="grille-1" style="overflow:hidden;text-align:center;margin:5px auto;"><div style="display:inline-block;margin-right:10px; vertical-align:top">{{ form_label(formQuestion.description) }}</div><div style="display:inline-block; vertical-align:top; width:50%">{{ form_errors(formQuestion.description) }}{{ form_widget(formQuestion.description,{'attr': {'style': 'width:100%;'}}) }}</div></div>
	    </div>
	    <div class="row">
	        <div class="grille-1" style="overflow:hidden;text-align:center;margin:5px auto;"><div style="display:inline-block;margin-right:10px; vertical-align:top">{{ form_label(formQuestion.marque) }}</div><div style="display:inline-block; vertical-align:top; width:50%">{{ form_errors(formQuestion.marque) }}{{ form_widget(formQuestion.marque,{'attr': {'style': 'width:100%;'}}) }}</div></div>
	    </div>
	    <div class="row">
	        <div class="grille-1" style="overflow:hidden;text-align:center;margin:5px auto;"><div style="display:inline-block;margin-right:10px; vertical-align:top">{{ form_label(formQuestion.modele) }}</div><div style="display:inline-block; vertical-align:top; width:50%">{{ form_errors(formQuestion.modele) }}{{ form_widget(formQuestion.modele,{'attr': {'style': 'width:100%;'}}) }}</div></div>
	    </div>
	    <div class="row">
	        <div class="grille-1" style="overflow:hidden;text-align:center;margin:5px auto;"><div style="display:inline-block;margin-right:10px; vertical-align:top">{{ form_label(formQuestion.os) }}</div><div style="display:inline-block; vertical-align:top; width:50%">{{ form_errors(formQuestion.os) }}{{ form_widget(formQuestion.os,{'attr': {'style': 'width:100%;'}}) }}</div></div>
	    </div>
	    <div class="row">
	        <div class="grille-1" style="overflow:hidden;text-align:center;margin:5px auto;"><div style="display:inline-block;margin-right:10px; vertical-align:top">{{ form_label(formQuestion.typeQuestion) }}</div><div style="display:inline-block; vertical-align:top; width:50%">{{ form_errors(formQuestion.typeQuestion) }}{{ form_widget(formQuestion.typeQuestion,{'attr': {'style': 'width:100%;'}}) }}</div></div>
	    </div>
	    <div class="row">
	        <div class="grille-1" style="overflow:hidden;text-align:center;margin:5px auto;"><div style="display:inline-block;margin-right:10px; vertical-align:top">{{ form_label(formQuestion.remuneration) }}</div><div style="display:inline-block; vertical-align:top; width:50%">{{ form_errors(formQuestion.remuneration) }}{{ form_widget(formQuestion.remuneration,{'attr': {'style': 'width:100%;'}}) }}</div></div>
	    </div>
	    <div class="row">
	        <div class="grille-1" style="overflow:hidden;text-align:center;margin:5px auto;">{{form_widget(formQuestion.save,{'attr': {'class': 'btn btn-primary'}})}}</div>
	    </div>
	    {{form_end(formQuestion)}}
	</div>
    


</body>
</html>