{% extends "SmartUnityAppBundle::layoutLog.html.twig" %}

{% form_theme formQuestion _self %}
{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul class="erreur">
        {% for error in errors %}
            <li>{{ error.message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}


{% block title %}Posez votre question{% endblock %}

{% block stylesheets %}
{% stylesheets filter='cssrewrite, yui_css'
				 'assets/css/formulaire.css'
				 'assets/css/magnificpopup.css' %}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}
{% endblock %}


{% block initJS %}
<script src="{{asset('assets/js/magnificpopup-0.9.9.min.js')}}"></script>
<script src="{{ asset('assets/js/jquery.animateAuto-1.0.0.js') }}"></script>
{% endblock %}



{% block body %}

<div class="row addquestion">
{#        <div class="grille-content panneau-bas">  #}
            <div class="row text-center cookie-title">
                Poser une question
            </div>
            <div class="explication-poser-question text-center">
            	<p>Pensez à effectuer une recherche avant de poser une question. Si vous rencontrez un problème avec votre smartphone, il y a de fortes chances que quelqu'un d'autre l'ait également expérimenté. L'objectif du site est de polluer le moins possible l'information pertinente !<br/></p><b class="merci">Merci :)</b>
            </div>
		
		{{ form_start(formQuestion, {'id' : 'form-add-question'})}}
		<div class="erreur">
            {{ form_errors(formQuestion) }}
	    </div>
	    <div class="row premiere-ligne" >
	        <div class="grille-1">{{ form_label(formQuestion.sujet) }}</div>
	        <div class="grille-2 text-area">{{ form_errors(formQuestion.sujet)}}{{ form_widget(formQuestion.sujet, { 'attr': {'class': 'text-subject'}}) }}</div>
	    </div>
	    <div class="row">
	        <div class="grille-1">{{ form_label(formQuestion.description) }}</div>
	        <div class="grille-2 text-area">{{ form_errors(formQuestion.description) }}{{ form_widget(formQuestion.description, { 'attr': {'class': 'text-description'}}) }}</div>
	    </div>
	    <div class="row">
	        <div class="grille-1">{{ form_label(formQuestion.marque) }}</div>
	        <div class="grille-2">{{ form_errors(formQuestion.marque) }}{{ form_widget(formQuestion.marque, { 'attr': {'class': 'chosen-select', 'data-placeholder':'Choisissez'}}) }}</div>
	    </div>
	    <div class="row">
	        <div class="grille-1">{{ form_label(formQuestion.os) }}</div>
	        <div class="grille-2">{{ form_errors(formQuestion.os) }}{{ form_widget(formQuestion.os, { 'attr': {'class': 'chosen-select', 'data-placeholder':"Choisissez"} }) }}</div>
	    </div>
	    <div class="row">
	        <div class="grille-1 ">{{ form_label(formQuestion.typeQuestion) }}</div>
	        <div class="grille-2">{{ form_errors(formQuestion.typeQuestion) }}{{ form_widget(formQuestion.typeQuestion, { 'attr': {'class': 'chosen-select', 'data-placeholder':'Choisissez'} }) }}</div>
	    </div>
	    <div class="row">
                <div class="grille-1">Dotation <a id="popupDotation" rel="tooltip" data-original-title="Vous pouvez augmenter la dotation de la question en utilisant les points de votre cagnotte pour améliorer son attractivité."><span class="glyphicon glyphicon-info-sign" style="color:#BBB;"></span></a></div>
                
	        <div class="grille-2 dotation"> {{ form_errors(formQuestion.remuneration) }}{{ form_widget(formQuestion.remuneration, { 'attr': {'class': 'input-dotation'}}) }} Max : {{dotationMax}}</div>
                
            </div>
	    <div class="cent-h bouton-bas-block">
	        {{form_widget(formQuestion.save,{'attr': {'class': 'btn ask-question','onclick': 'validationFormulaire()'}})}}
	    </div>
	    {{form_end(formQuestion)}}
	</div>

<script>
$(".chosen-select").chosen({disable_search_threshold: 10, allow_single_deselect: true });
</script>

<script>
$(document).ready(function(){
  $('#popupDotation').tooltip();
  $('#popupDotation').click(function(e){
    e.preventDefault();
  })
});

function validationFormulaire(){
    $('form').submit(function(event) {   
        var valeur = parseInt($('#form_remuneration').val());
        var min = parseInt($('#form_remuneration').attr('min')); 
        var max = parseInt($('#form_remuneration').attr('max'));  
        if( valeur <= max && valeur >= min ){
            $('.erreur').hide();
            return true; 
         }
         else{
            var message="La valeur doit être comprise entre: " + $('#form_remuneration').attr('min') + " et " + $('#form_remuneration').attr('max') ;
            $('.erreur').css("font-size","4 px"); 
            $('.erreur').show().text(message);
            return false;
         }
    });
}

</script>
{% endblock %}

