{% extends "SmartUnityAppBundle::layoutLog.html.twig" %}
{% form_theme formQuestion 'SmartUnityUtilisateurBundle:Form:form_register.html.twig' %}

{% block title %}Smart'Unity - Liste des Questions {% endblock %}

{% block stylesheets %}
<link href="{{asset('assets/css/formulaire.css')}}" rel="stylesheet" type="text/css">
<link href="{{asset('assets/css/magnificpopup.css')}}" rel="stylesheet" type="text/css">

{% endblock %}

{% block initJS %}
<script src="{{asset('assets/js/magnificpopup-0.9.9.min.js')}}"></script>
<script src="{{ asset('assets/js/jquery.animateAuto-1.0.0.js') }}"></script>
{% endblock %}



{% block body %}

<div class="row">
{#        <div class="grille-content panneau-bas">  #}
            <div class="row text-center cookie-title">
                Poser une question
            </div>
		
		{{ form_start(formQuestion)}}
		<div class="erreur">
            {{ form_errors(formQuestion) }}
	    </div>
	    <div class="row premiere-ligne" >
	        <div class="grille-1">{{ form_label(formQuestion.sujet) }}</div>
	        <div class="grille-2 text-area">{{ form_errors(formQuestion.sujet) }}{{ form_widget(formQuestion.sujet) }}</div>
	    </div>
	    <div class="row">
	        <div class="grille-1">{{ form_label(formQuestion.description) }}</div>
	        <div class="grille-2 text-area">{{ form_errors(formQuestion.description) }}{{ form_widget(formQuestion.description) }}</div>
	    </div>
	    <div class="row">
	        <div class="grille-1">{{ form_label(formQuestion.marque) }}</div>
	        <div class="grille-2">{{ form_errors(formQuestion.marque) }}{{ form_widget(formQuestion.marque) }}</div>
	    </div>
	    <div class="row">
	        <div class="grille-1">{{ form_label(formQuestion.modele) }}</div>
	        <div class="grille-2">{{ form_errors(formQuestion.modele) }}{{ form_widget(formQuestion.modele) }}</div>
	    </div>
	    <div class="row">
	        <div class="grille-1">{{ form_label(formQuestion.os) }}</div>
	        <div class="grille-2">{{ form_errors(formQuestion.os) }}{{ form_widget(formQuestion.os) }}</div>
	    </div>
	    <div class="row">
	        <div class="grille-1 ">{{ form_label(formQuestion.typeQuestion) }}</div>
	        <div class="grille-2">{{ form_errors(formQuestion.typeQuestion) }}{{ form_widget(formQuestion.typeQuestion) }}</div>
	    </div>
	    <div class="row">
                <div class="grille-1">Dotation <a id="popupDotation" rel="tooltip" data-original-title="Vous pouvez augmenter la dotation de la question en utilisant les points de votre cagnotte pour améliorer son attractivité."><span class="glyphicon glyphicon-info-sign" style="color:#9999ff;"></span></a>:</div>
                
	        <div class="grille-2 dotation">{{ form_errors(formQuestion.remuneration) }}{{ form_widget(formQuestion.remuneration) }} Max: {{dotationMax}} </div>
	    </div>
	    <div class="cent-h bouton-bas-block">
	        {{form_widget(formQuestion.save,{'attr': {'class': 'btn btn-primary'}})}}
	    </div>
	    {{form_end(formQuestion)}}
	</div>

<script>
$(document).ready(function(){
  $('#popupDotation').tooltip();
  $('#popupDotation').click(function(e){
    e.preventDefault();
  })
});

</script>
{% endblock %}

