{% extends "SmartUnityAppBundle::layoutLog.html.twig" %}
{% form_theme formEditQuestion 'SmartUnityUtilisateurBundle:Form:form_register.html.twig' %}

{% block title %}Modifier ma question{% endblock %}

{% block stylesheets %}
<link href="{{asset('assets/css/formulaire.css')}}" rel="stylesheet" type="text/css">
<link href="{{asset('assets/css/magnificpopup.css')}}" rel="stylesheet" type="text/css">

{% endblock %}

{% block initJS %}
<script src="{{asset('assets/js/magnificpopup-0.9.9.min.js')}}"></script>
<script src="{{ asset('assets/js/jquery.animateAuto-1.0.0.js') }}"></script>
{% endblock %}



{% block body %}
<a ><span class="glyphicon glyphicon-chevron-left bouton-retour" onclick="javascript:history.back()"></span></a>

<div class="row">
{#        <div class="grille-content panneau-bas">  #}
            <div class="row text-center cookie-title">
                Modifier ma question
            </div>
		
		{{ form_start(formEditQuestion)}}
		<div class="erreur">
            {{ form_errors(formEditQuestion) }}
	    </div>
	    <div class="row premiere-ligne" >
	        <div class="grille-1">{{ form_label(formEditQuestion.sujet) }}</div>
	        <div class="grille-2 text-area">{{ form_errors(formEditQuestion.sujet) }}{{ form_widget(formEditQuestion.sujet) }}</div>
	    </div>
	    <div class="row">
	        <div class="grille-1">{{ form_label(formEditQuestion.description) }}</div>
	        <div class="grille-2 text-area">{{ form_errors(formEditQuestion.description) }}{{ form_widget(formEditQuestion.description) }}</div>
	    </div>
	    <div class="row">
	        <div class="grille-1">{{ form_label(formEditQuestion.marque) }}</div>
	        <div class="grille-2">{{ form_errors(formEditQuestion.marque) }}{{ form_widget(formEditQuestion.marque) }}</div>
	    </div>
	    <div class="row">
	        <div class="grille-1">{{ form_label(formEditQuestion.os) }}</div>
	        <div class="grille-2">{{ form_errors(formEditQuestion.os) }}{{ form_widget(formEditQuestion.os) }}</div>
	    </div>
	    <div class="row">
	        <div class="grille-1 ">{{ form_label(formEditQuestion.typeQuestion) }}</div>
	        <div class="grille-2">{{ form_errors(formEditQuestion.typeQuestion) }}{{ form_widget(formEditQuestion.typeQuestion) }}</div>
	    </div>
	    <div class="row">
                <div class="grille-1">Dotation <a id="popupDotation" rel="tooltip" data-original-title="Vous pouvez augmenter la dotation de la question en utilisant les points de votre cagnotte pour améliorer son attractivité."><span class="glyphicon glyphicon-info-sign" style="color:#9999ff;"></span></a>:</div>
                
	        <div class="grille-2 dotation">{{ form_errors(formEditQuestion.remuneration) }}{{ form_widget(formEditQuestion.remuneration) }} Max: {{dotationMax}} </div>
	    </div>
	    <div class="cent-h bouton-bas-block">
	        {{form_widget(formEditQuestion.save,{'attr': {'class': 'btn btn-primary'}})}}
	    </div>
	    {{form_end(formEditQuestion)}}
	</div>

<script>
$(document).ready(function(){
  $('#popupDotation').tooltip();
  $('#popupDotation').click(function(e){
    e.preventDefault();
  })
});

</script>
{% endblock %}

