{% extends "SmartUnityAppBundle::layoutLog.html.twig" %}

{% block title %}Smart'Unity - Resultats de la recherche{% endblock %}

{% block stylesheets %}
{% stylesheets filter='cssrewrite, yui_css'
				 'assets/css/addQuestionReponse.css' %}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}    
{% endblock %}


{% block body %}
	
	<div class="grille-content" style="margin-top:35px">
	    <legend>Signaler</legend>

		{{ form_start(formSignaler)}}
		<div class="erreur">
            {{ form_errors(formSignaler) }}
	    </div>
	    <div class="row">
	        <div class="grille-1">{{form_widget(formSignaler.Signaler,{'attr': {'class': 'btn btn-primary'}})}}</div>
	    </div>
	    {{form_end(formSignaler)}}
	</div>
    
{% endblock %}